.listing {
    width: 100%;
    border-collapse: collapse;
}

.listing td, .listing th {
    font-family: Arial;
    font-size: 12px;
    text-align: left;
    padding: 3px;
    border: 1px solid #000;
}

.propertyGrid .item {
    height: 20px;
    line-height: 20px;
    margin-bottom: 4px;
}
.propertyGrid .item div {
    display: inline-block;
}
.propertyGrid .item .label {
    font-weight: bold;
    width: 200px;
    color: #333;
    font-size: 12px;
    text-align: left;
}