<p style="text-align: right">
    <img src="images/logo.png" align: right>
</p>

<?php if ($this->order->reported > 0): ?>
<p>
    Zamówienie nr: <?= $this->order->id ?>
</p>
<?php else: ?>
<p>
    Zawartość koszyka
</p>
<?php endif; ?>

<p>
    Klient: <?= $this->order->getClient()->name ?>
</p>

<table class="listing">
    <thead>
        <tr>
            <th>index</th>
            <th>produkt</th>
            <th style="width: 30px">kolor</th>
            <th>cena/szt</th>
            <th>ilość</th>
            <th>wartość</th>
        </tr>
    </thead>
    <tbody>
    <?php 
        $status = $this->order->getStatus();
        $elements = $this->order->getElements();
        
        foreach ($elements as $item): 
            $variant = $item->getVariant();
            $product = $item->getProduct();
    ?>
        <tr>	
            <td><?= $variant->index ?></td>
            <td><?= $product->getName() ?></td>
            <td>
            <?php 
                if ($product->hasColor()): 
                    $variant->parse();
                    $colorIndex = $product->getColorFieldIndex();
            ?>
                <img src="colors/<?= $variant->fields[$colorIndex] ?>.gif" style="border: 1px solid #dadada" />
            <?php endif; ?>
            </td>
            <td><?= $item->price ?> zł</td>
            <td><?= $item->quantity ?></td>
            <td><?= $item->price_sum ?> zł</td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<div style="font-weight: bold; text-align: right"><?= $elements->count() ?> produktów za łączną kwotę <?= $this->order->getTotalPrice() ?> zł netto.</div>
<div style="font-weight: bold; text-align: right">Podane ceny nie zawierają podatku VAT.</div>

<?php if (!empty($this->order->comments)): ?>
<p>
    Dodatkowe uwagi:<br />
    <?= nl2br(stripslashes($this->order->comments)) ?>
</p>
<?php endif ?>

<div class="propertyGrid">
    <?php foreach ($this->properties as $label => $value): ?>
    <div class="item">
        <div class="label"><?= $label ?>:</div>
        <div class="value"><?= $value ?></div>
    </div>
    <?php endforeach; ?>
</div>