body {
    background-color: #1dc3d8;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
body, a, input, textarea {
    font-family: Arial;
    color: #333;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial;
    color: #333;
    font-weight: 300;
    font-size: 12px;
}

div, p, input, textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.wrapper {
    width: 1100px;
    margin: 0px auto;
}

#top {
    background-color: #fff;
    height: 150px;
    padding-top: 25px;
}
#top #logo {
    float: left;
    padding-left: 55px;
    padding-top: 20px;
    margin-right: 60px;
}
#top #top-menu {
    float: left;
    padding-top: 30px;
    line-height: 54px;
}
#top-menu a {
    font-size: 14px;
    margin-right: 25px;
    text-transform: uppercase;
}

#client-block {
    float: right;
    margin-right: 55px;
    padding-left: 25px;
    border-left: 1px dotted #333;
}
#client-block .label {
    font-family: "Open Sans";
    color: #01b4cb;
    font-size: 24px;
    height: 64px;
    line-height: 100%;
}
#client-block .label span {
    display: block;
    margin-left: 15px;
}
#client-block-left {
    float: left;
    width: 95px;
}
#client-block-right {
    float: left;
    margin-left: 50px;
    min-width: 250px;
}
#client-block-right .inputText {
    width: 250px;
    height: 26px;
    background-color: #f4f4f4;;
    border: 1px solid #1dc3d8;
    border-radius: 2px;
    padding-left: 10px;
    margin-bottom: 6px;
}
#client-icons {
    height: 64px;
}
#client-icons a {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 15px;
    display: block;
}
#client-links {
    
}
#client-links a {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}
#client-links .leftLinks {
    float: left;
}
#client-links .rightLinks {
    float: right;
}

#slider {
    height: 350px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
#slider.sliderDefault {
    background-image: url(../images/slider.jpg);
}
#slider #slider-block {
    width: 3300px;
}
#slider .slide {
    width: 1100px;
    height: 350px;
    overflow: hidden;
    float: left;
}
#slider .naviBtn {
    width: 28px;
    height: 95px;
    position: absolute;
    display: block;
    cursor: pointer;
    top: 127px;
}
#slider #naviBtnLeft {
    left: 0px;
    background-image: url(../images/sl-back.png);
}
#slider #naviBtnRight {
    right: 0px;
    background-image: url(../images/sl-ff.png);
}

#search {
    height: 69px;
    background: #f0f0f0 url(../images/szukaj.png) top left no-repeat;
}
#search-area {
    margin-left: 400px;
    padding-top: 19px;
}
#search .inputText {
    width: 276px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 10px;
}
#search .inputSubmit {
    width: 42px;
    height: 32px;
    border: 0px none;
    background: transparent url(../images/lupa.png) left center no-repeat;
    cursor: pointer;
}
#search #search-by-string, #search #search-by-index {
    float: left;
}
#search #search-by-string {
    margin-right: 30px;
}

#groups-wrapper {
    padding: 25px 30px;
    background-color: #fff;
    padding-left: 55px;
}
#groups-wrapper #groups-list {
    padding-left: 120px;
    background: url(../images/katalog.png) left center no-repeat;
}
#groups-wrapper #groups-list .groupItem {
    float: left;
    width: 240px;
    margin-right: 50px;
}
#groups-wrapper #groups-list a {
    color: #01b4cb;
    font-size: 14px;
    line-height: 20px;
}
#groups-wrapper #groups-list a span {
    font-size: 16px;
}

#middle-block {
    background-color: #01b4cb;
    height: 190px;
    position: relative;
    padding-top: 20px;
    color: #fff;
    font-size: 14px;
}
#middle-block-left {
    width: 330px;
    float: left;
    margin-right: 40px;
}
#middle-block #phones-block {
    background-color: #a2d727;
    width: 330px;
    padding-left: 55px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
}
#middle-block #phones {
    background-image: url(../images/telefon-gorny.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 55px;
}
#middle-block #phones-block strong {
    font-weight: 800;
    font-family: "Open Sans";
}
#middle-block #middle-block-center {
    width: 305px;
    float: left;
    position: relative;
}
#middle-block #register-account-btn {
    width: 88px;
    height: 88px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    display: block;
    background-image: url(../images/zaloz-konto.png);
}
#middle-block  .os24 {
    margin-bottom: 20px;
}
#middle-block #under-phone {
    margin-left: 55px;
    margin-top: 20px;
}
#middle-block-right {
    float: right;
    margin-right: 55px;
    padding-left: 40px;
    border-left: 1px dotted #fff;
}
#middle-block-right .right {
    width: 160px;
    float: right;
    position: relative;
    height: 150px;
}
#middle-block-right .right a {
    display: block;
    position: absolute;
    top: -20px;
    left: 0px;
}
#middle-block-right .left {
    float: left;
    margin-right: 15px;
}

#middle-wrapper {
    padding: 25px 55px;
    background-color: #fff;
    padding-bottom: 62px;
}
#about-wrapper {
    padding: 40px 55px;
    background-color: #333;
    color: #d5d5d5;
}
#about-wrapper .header {
    font-size: 40px;
    color: #05a4b7;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 100%;
}
#about-wrapper .header span {
    font-size: 20px;
    margin-left: 20px;
}
#about-wrapper .header h1 {
    font-size: 20px;
    margin-left: 20px;
    display: inline;
}
#banner-wrapper {
    padding: 20px 55px;
    background-color: #666;
    height: 201px;
}
#banner-element {
    width: 790px;
    height: 150px;
    overflow: hidden;
    margin-top: 5px;
    float: left;
}
#banner-circle {
    float: right;
}
#banner-circle a {
    display: block;
    width: 161px;
    height: 161px;
    cursor: pointer;
    background-image: url(../images/sprawdz-promocje.png);
}

#pages-wrapper {
    padding: 40px 55px;
    background-color: #333;
    color: #d5d5d5;
}
#pages-wrapper .header {
    font-size: 24px;
        color: #a0d500;
    margin-bottom: 20px;
    line-height: 100%;
    font-weight: 300;
}
#pages-wrapper .left {
    width: 310px;
    float: left;
    color: #fff;
}
#pages-wrapper .left .color {
    color: #a0d500;
}
#pages-wrapper .right {
    float: right;
    margin-top: 24px;
}
#pages-wrapper .pagesList {
    width: 266px;
    float: left;
}
#pages-wrapper .pagesListRight {
    margin-left: 75px;
}
#pages-wrapper, #pages-wrapper a {
    color: #fff;
}
#pages-wrapper a {
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-transform: uppercase;
    line-height: 35px;
    border-bottom: 1px dotted #fff;
    background: url(../images/lista-menu.png) right center no-repeat;
}

#trader-wrapper {
    padding: 20px 0px 20px 255px;
    background-color: #666;
    position: relative;
}
#trader-wrapper img {
    position: absolute;
    bottom: 0px;
    left: 55px;
}
#trader-wrapper, #trader-wrapper a {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}
#trader-wrapper .phone {
    padding-left: 70px;
    background: url(../images/telefon.png) left center no-repeat;
    min-height: 60px;
    height: 60px;
}
#trader-wrapper .mail {
    padding-left: 70px;
    background: url(../images/koperta.png) left center no-repeat;
    height: 60px;
}
#trader-wrapper .block {
    float: left;
    width: 230px;
    margin-right: 45px;
}
#trader-wrapper > div:nth-child(3) {
    width: 200px;
}
#trader-wrapper > div:nth-child(4) {
    width: 270px;
}
#trader-wrapper .blockRight {
    margin-right: 0px;
}

#contact-wrapper {
    padding: 20px 0px 20px 55px;
    background-color: #666;
    height: 250px;
    position: relative;
}
#contact-wrapper .photo {
    position: absolute;
    top: 0px;
    right: 0px;
}
#contact-wrapper .header {
    margin-bottom: 12px;
}
#contact-wrapper, #contact-wrapper .header, #contact-wrapper a {
    color: #fff;
}
#contact-wrapper #contact-form {
    float: left;
    width: 310px;
    margin-right: 80px;
}
#contact-form .inputText, #contact-form .inputTextarea {
    width: 276px;
    height: 32px;
    background-color: #d5d5d5;
    border: 1px solid #333;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 8px;
}
#contact-form .inputTextarea {
    height: 90px;
    padding-top: 8px;
}
#contact-form ::-webkit-input-placeholder {
    color: #333;
}
#contact-info {
    float: left;
}
#contact-info, #contact-info a {
    font-size: 14px;
}
#contact-info-phones {
    margin-top: 13px;
    padding-left: 70px;
    background: url(../images/telefon.png) left center no-repeat;
    min-height: 60px;
}
#contact-info-mail {
    margin-top: 5px;
    padding-left: 70px;
    background: url(../images/koperta.png) left center no-repeat;
    height: 60px;
    line-height: 60px;
}
#bottom-wrapper {
    padding: 30px 55px;
    background-color: #333;
    height: 110px;
}
#bottom-wrapper .fb {
    display: block;
    width: 51px;
    height: 50px;
    background-image: url(../images/fb.png);
    float: left;
    margin-right: 15px;
}
#bottom-wrapper .gp {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/google.png);
    float: left;
    margin-right: 15px;
}
#bottom-info {
    text-align: right;
    float: right;
}
#bottom-info, #bottom-info a {
    line-height: 25px;
    color: #d5d5d5;
}

.productItem {
    width: 225px;
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
}
.productItemImg {
    width: 200px;
    height: 130px;
    text-align: center;
    position: relative;
}
.productItem .promoSign {
    width: 64px;
    height: 74px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: url(../images/promocja.png);
}
.productItem .old {
    text-decoration: line-through;
}
.productItem .promo {
    font-weight: bold;
    color: #db236d;
}
.isPromo {
    color: #db236d;
}
.productItem .productItemNoPhoto {
    display: block;
    width: 200px;
    height: 130px;
    background-image: url(../images/no-foto.jpg);
}
.productItem .productItemInfo {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #01b4cb;
}
.productPromo .productItemInfo {
    border-top: 2px solid #db236d;
    height: 51px;
    overflow: hidden;
}
.productItem .productItemInfo .mark {
    font-weight: bold;
}
.productItem .productItemInfo .name {
    
}

.product {
   
}
.productLeft {
    float: left;
    width: 300px;
    margin-right: 40px;
}
.product .productTop {
    margin-bottom: 30px;
}
.product .productPhoto {
    height: 130px;
    margin-right: 100px;
    text-align: center;
    margin-bottom: 20px;
}
.product .productDescription {
}
.product .productName {
    margin-bottom: 20px;
    font-size: 12px;
}
.product .productName h1 {
    font-size: 14px;
    font-weight: 800;
}
.productRight {
    width: 650px;
    float: left;
}

.variants {
    border-collapse: collapse;
    margin: 0px auto;
    width: 100%;
}
.variants td, .variants th {
    font-size: 12px;
    padding: 4px 6px 4px 3px;
    border-bottom: 1px solid #333;
    text-align: left;
    line-height: 18px;
}
.variants th {
    font-weight: bold;
}
.variants .price {
    white-space: nowrap;
}

.listing {
    width: 100%;
    border-collapse: collapse;
}
.listing td {
    vertical-align: middle;
}
.listing td, .listing th, .listing th a {
    text-align: left;
    padding: 6px 4px;
    font-size: 12px;
    line-height: normal;
}
.listing td, .listing th {
    border-bottom: 1px solid #ccc;
}
.listing td.actions {
    white-space: nowrap;
    width: 0px;
}
.listing th, .listing th a {
    font-weight: bold;
}

.actions .action {
    width: 26px;
    height: 26px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #01b4cb;
    border-radius: 3px;
}
.actions .edit {
    background-image: url(../images/file_edit.png);
}
.actions .delete {
    background-image: url(../images/icon_delete.png);
}
.actions .disabled {
    opacity: 0.5;
}
.actions .add {
    background-image: url(../images/add.png);
}
.actions .show {
    background-image: url(../images/zoom.png);
}
.actions .copy {
    background-image: url(../images/copy2.png);
}
.actions .load {
    background-image: url(../images/load.png);
}
.actions .accept {
    background-image: url(../images/accept.png);
}

.paginator {
    text-align: center;
}
.paginator a.active {
    background-color: #a0d500;
}

.propertyGrid .item {
    height: 20px;
    line-height: 20px;
    margin-bottom: 4px;
}
.propertyGrid .item div {
    display: inline-block;
}
.propertyGrid .item .label {
    font-weight: bold;
    width: 200px;
}

.tabs {
    height: 31px;
    border-bottom: 1px solid #1dc3d8;
    margin-bottom: 20px;
    padding-left: 3px;
}
.tabs a {
    display: block;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 3px;
    color: #333;
    background-color: #f1f1f1;
    line-height: 30px;
    padding: 0px 6px;
    cursor: pointer;
    float: left;
}
.tabs .active {
    background-color: #1dc3d8;
    color: #fff;
}

td.header {
    background-color: #01b4cb;
    color: #fff;
    font-weight: bold;
}
tr.summary td {
    background-color: #ccc;
}
tr.summaryTotal td {
    background-color: #ccc;
    font-weight: bold;
}

.filters {
    margin-bottom: 20px;
}
.filters .inputText {
    width: 150px;
    height: 26px;
    background-color: #f4f4f4;;
    border: 1px solid #1dc3d8;
    border-radius: 2px;
    padding-left: 10px;
    margin-right: 15px;
}

p {
    margin: 20px 0px;
}
h2, h1 {

    font-size: 36px;
    margin-bottom: 25px;
    font-family: "Open Sans";
    font-weight: 300;
    margin-top: 40px;
    line-height: normal;
}
.green {
    color: #d5d5d5;
}
h2 strong, h1 strong {
    font-weight: 800;
    font-family: "Open Sans";
}
h2:first-child, h1 {
    margin-top: 0px;
}
.buttons .button, .buttons input {
    background-color: #01b4cb;
    color: #fff;
    font-size: 12px;
    border: 0px none;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    margin: 2px;
    text-align: center;
    line-height: 28px;
    height: 28px;
}
.buttons .isBlock {
    display: block;
}
.buttonsWhite .button {
    background-color: #fff;
    color: #333;
}
.actions .button {
    font-size: 12px;
}
.strong {
    font-weight: bold;
}
.rightAlign {
    text-align: right;
}
.cl {
    clear: left;
}
.cb {
    clear: both;
}
.floatLastR {
    margin-right: 0px;
}

.ui-datepicker {
    font-size: 12px !important;
}

table.form .labelSpace {
    width: 200px;
}
table.form .fieldSpace{
    padding-bottom: 10px;
}
table.form .fieldSpace input[type=text], table.form .fieldSpace input[type=password], table.form .fieldSpace select {
    width: 400px;
    height: 26px;
    background-color: #f4f4f4;;
    border: 1px solid #1dc3d8;
    border-radius: 2px;
    padding-left: 10px;
    margin-right: 15px;
}
table.form .labelSpace label::after {
    content: ":";
}
table.form label.required::after {
    content: ":*";
}
table.form .fieldSpace label {
    line-height: 26px;
}

.hidden {
    display: none;
}
p.description {
    margin: 0px;
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
}
.baseMessages {
    text-align: center;
    margin: 20px 0px;
    color: #1dc3d8;
}

.header {
    font-size: 24px;
    font-weight: 300;
    color: #01b4cb;
    font-family: "Open Sans";
    line-height: 100%;
}
.header strong {
    font-weight: 800;
    font-family: "Open Sans";
}

strong {
    font-family: "Arial Black";
    font-weight: bold;
}

.os24 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
}
.os24 strong {
    font-weight: 800;
    font-family: "Open Sans";
}

#form-fast-add .inputText {
    width: 150px;
    height: 26px;
    background-color: #f4f4f4;;
    border: 1px solid #1dc3d8;
    border-radius: 2px;
    padding-left: 10px;
    margin-right: 15px;
    cursor: auto;
    text-align: left;
    color: #333;
}

#_dialog {
    display: inline-block;
    border: 5px solid #01b4cb;
    border-radius: 6px;
    background-color: #fff;
    padding: 15px;
    text-align: center;
}
#_dialog_content {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
    width: 400px;
}