<h2>
    <?php if (empty($this->row)): ?>
    dodawanie <strong>nowego konta</strong>
    <?php else: ?>
    edycja <strong>konta</strong>
    <?php endif; ?>
</h2>

<p>
    <a href="<?= $this->url(array(), 'clients.settings') ?>">&laquo; wróć do zarządania kontami</a>
</p>

<?php if (!empty($this->row) && !empty($this->row->parent)): ?>
<?= $this->partial('common/account-tabs.phtml', array('active' => 'form', 'id' => $this->row->id)) ?>
<?php endif; ?>
<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<?= $this->tableForm($this->form) ?>

<?php if (!empty($this->row)): ?>
<form method="POST" action="clients/site/password-gen" onSubmit="return confirm('Czy na pewno chcesz wygenerować nowe hasło dla tego konta?')">
    <table class="form">
    <input type="hidden" name="account_id" value="<?= $this->row->id ?>">
    <tr><td class="labelSpace" id="submit-label">&nbsp;</td><td class="fieldSpace" id="submit-element">
    <input type="submit" name="submit" id="submit" value="wygeneruj nowe hasło"></td></tr>
    </table>
</form>
<?php endif; ?>
<!--
	{if !empty($row->id)}
	<div class="fname">Weryfikator:</div>
	<div class="finput">
	{if empty($row->parent)}
		Konto główne nie posiada weryfikatora.
		<input type="hidden" name="verifier" value=0 />
	{else}
			<div>
			<input type="radio" style="width: 20px" name="verifier" value=0{if empty($row->verifier)} checked{/if} />
			to konto nie posiada weryfikatora
			</div>
			{assign var='parentAccount' value=$row->findParentRow('Account')}
			<div>
			<input type="radio" style="width: 20px" name="verifier" value={$parentAccount->id}{if ($row->verifier == $parentAccount->id)} checked{/if} />
			{if !empty($parentAccount->parent)}Konto drugiego stopnia{else}Konto główne{/if}: {$parentAccount->name} {$parentAccount->surname} ({$parentAccount->login})
			</div>
			{if !empty($parentAccount->parent)}
			{assign var='parentAccount' value=$parentAccount->findParentRow('Account')}
			<div>
			<input type="radio" style="width: 20px" name="verifier" value={$parentAccount->id}{if ($row->verifier == $parentAccount->id)} checked{/if} />
			Konto główne: {$parentAccount->name} {$parentAccount->surname} ({$parentAccount->login})
			</div>
			{/if}
	{/if}
	</div>
	{/if}
	<div class="fname">Imię:*</div>{$cv->name}
	<div class="finput"><input type="text" name="name" value="{$row->name}" /></div>
	<input type="hidden" name="require[]" value="name" />
	<div class="fname">Nazwisko:*</div>{$cv->surname}
	<div class="finput"><input type="text" name="surname" value="{$row->surname}" /></div>
	<input type="hidden" name="require[]" value="surname" />
	<div class="fname">Adres e-mail:*</div>{$cv->mail}
	<div class="finput"><input type="text" name="mail" value="{$row->mail}" /></div>
	{if empty($row->id)}
	<div class="fdesc">Na podany adres e-mail zostaną wysłane dane do logowania.</div>
	{/if}
	<input type="hidden" name="require[]" value="mail" />
	<div class="fname">Tel. kontaktowy:*</div>{$cv->phone}
	<div class="finput"><input type="text" name="phone" value="{$row->phone}" /></div>
	<input type="hidden" name="require[]" value="phone" />
	<div class="fname">Login:*</div>{$cv->login}
	{if empty($row->id)}
	<div class="finput"><input type="text" name="login" value="{$row->login}" /></div>
	<input type="hidden" name="require[]" value="login" />
	{else}
	<div class="finput">{$row->login}</div>
	<input type="hidden" name="id" value="{$row->id}" />
	{/if}
	<div class="fname">Limit miesięczny wartości zamówień:*</div>{$cv->output('limit')}
	{if empty($row->id) || !empty($row->parent)}
	<div class="finput"><input type="text" name="limit" value={if !empty($row->limit)}{$row->limit}{else}0{/if} /></div>
	<div class="fdesc">Wartość netto w zł. 0 oznacza brak limitu.</div>
	{else}
	<div class="finput">Konto główne nie posiada limitu wartości zamówień.</div>
	<input type="hidden" name="limit" value=0 />
	{/if}
	<div class="fname">Dostęp do grup towarowych:</div>
	{if empty($row->id) || !empty($row->parent)}
	<div class="finput">
		{foreach item=item from=$groups}
			<div><input type="checkbox" name="groupsAllowed[]" value={$item->id} style="width: 20px"{if !empty($row->id) && $row->hasAccessToGroup($item->id)} checked{/if} /> {$item->name}</div>
		{/foreach}
			<div style="margin-top: 20px"><input type="checkbox" onClick="setCheckbox(this)" style="width: 20px" /> zaznacz/odznacz wszystkie</div>
	</div>
	{else}
	<div class="finput">Konto główne posiada dostęp do wszystkich grup towarowych.</div>
	{/if}
	<div class="fbutton">
		<input type="submit" value="aktualizuj" />
		{if !empty($row->id)}<input type="submit" value="wygeneruj nowe hasło" name="password" onClick="return confirm('Czy napewno chcesz wygenerować nowe hasło dla tego pracownika?')" />{/if}
	</div>
</form>
-->
<script type="text/javascript">
function setCheckbox(elem) {
	$(':checkbox').each(function() { 
		this.checked = elem.checked;
	});
}
</script>