<h2>
    edycja <strong>konta</strong>
</h2>

<p>
    <a href="<?= $this->url(array(), 'clients.settings') ?>">&laquo; wróć do zarządania kontami</a>
</p>

<?= $this->partial('common/account-tabs.phtml', array('active' => 'limits', 'id' => $this->row->id)) ?>
<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<?= $this->tableForm($this->form) ?>

<script type="text/javascript">
function changeLimitType(el) {
    var wrappers = ["#limit-label", "#limit_permanent-label", "#budget-label", "#budget_extra-label"];
    jQuery.each(wrappers, function(i, tag) {
        if (el.value == "0") {
            $(tag).parent().addClass("hidden");
        }
        else {
            $(tag).parent().removeClass("hidden");
        }
    });
}
changeLimitType({value: "<?= (empty($this->row) ? 0 : $this->row->limit_type) ?>"});
</script>