<h2>
    adres dostawy
</h2>

<p>
    <a href="<?= $this->url(array(), 'clients.settings-addresses') ?>">&laquo; wróć do listy adresów</a>
</p>

<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<?= $this->tableForm($this->form) ?>