<h2>koszyk</h2>

<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<?php
    $elements = array();
    
    if (!empty($this->order)) {
        $elements = $this->order->getElements();
    }
    
    if (count($elements) === 0): ?>
<p>
    Nie posiadasz żadnych produktów w koszyku.
</p>
<?php else: ?>

<form method="post" action="<?= $this->url(array('id' => 0, 'do' => 'submit'), 'clients.order-action') ?>">
<?php 
    if ($this->order->verifier): 
        $creator = $this->order->getCreator();
?>
<p class="s">
    Zamówienie nr: <?= $this->order->id ?>
</p>
<p>
    To zamówienie jest przez Ciebie weryfikowane. Jako weryfikant, możesz przed zakceptacją 
    wprowadzić w nim zmiany. Możesz je również odrzucić - nie zostanie wówczas przekazane do 
    realizacji.
</p>
<p>
    To zamówienie zostało stworzone przez <?= $creator->getName() ?>.
</p>
<?php endif; ?>
<table class="listing">
    <thead>
        <tr>
            <th>index</th>
            <th>produkt</th>
            <th style="width: 30px">kolor</th>
            <th>cena/szt</th>
            <th>ilość</th>
            <th>wartość</th>
        </tr>
    </thead>
    <tbody>
    <?php 
        foreach ($elements as $item):
            $variant = $item->getVariant();
            $product = $item->getProduct();
    ?>
        <tr class="main">	
            <td><?= $variant->index ?></td>
            <td><a href="<?= $product->getUrl() ?>" target="_blank"><?= $product->getName() ?></a></td>
            <td>
            <?php 
                if ($product->hasColor()):
                    $variant->parse();
                    $colorIndex = $product->getColorFieldIndex();
            ?>
            <img src="colors/<?= $variant->fields[$colorIndex] ?>.gif" style="border: 1px solid #dadada" />
            <?php else: ?>
            -
            <?php endif; ?>
            </td>
            <td><?= $this->currency($item->price) ?></td>
            <td><input type="text" style="width: 60px" name="quantity[<?= $item->id ?>]" value="<?= $item->quantity ?>" /></td>
            <td><?= $this->currency($item->price_sum) ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<div class="strong rightAlign"><?= $this->order->getElementsCount() ?> produktów za łączną kwotę <?= $this->currency($this->order->getTotalPrice()) ?>.</div>
<div class="strong rightAlign">Podane ceny nie zawierają podatku VAT.</div>

<p>
    <div class="fname">Dodatkowe uwagi:</div>
    <div class="finput"><textarea name="comments" style="height: 100px; width: 90%"><?= stripslashes($this->order->comments) ?></textarea></div>
</p> 

<?php if ($this->allowAddress && count($this->delAddresses) > 1): ?>
<p>
    <div class="fname">Wybierz adres dostawy:</div>
    <div class="finput">
        <select name="address_id">
            <?php foreach ($this->delAddresses as $adId => $adr): ?>
            <option value="<?= $adId ?>"<?= ($adId == $this->delAddressId ? ' selected' : '') ?>><?= $adr ?></option>
            <?php endforeach; ?>
        </select>
    </div>
</p>
<?php else: ?>
<input type="hidden" name="address_id" value="<?= $this->delAddressId ?>">
<?php endif; ?>

<div class="buttons">
    <?php if (empty($this->order->verifier)): ?>
    <a href="<?= $this->url(array('id' => 0, 'do' => 'clear'), 'clients.order-action') ?>" class="button" onClick="return confirm('Czy na pewno chcesz usunąć wszystkie produkty z tego koszyka?')">opróżnij koszyk</a>
    <?php endif; ?>
    <input type="submit" class="button" name="recount" value="przelicz koszyk">
    <?php if (empty($this->order->verifier)): ?>
    <input type="submit" class="button" name="send" value="złóż zamówienie" onClick="return confirm('Czy na pewno chcesz złożyć te zamówienie?')">
    <?php else: ?>
    <input type="submit" class="button" name="accept" value="akceptuj zamówienie" onClick="return confirm('Czy na pewno chcesz zaakceptować to zamówienie?')">
    <a class="button" href="<?= $this->url(array('id' => $this->order->id, 'do' => 'throw'), 'clients.order-action') ?>" onClick="return confirm('Czy na pewno chcesz odrzucić to zamówienie?')">odrzuć zamówienie</a>
    <?php endif; ?>
    <a href="<?= $this->url(array('id' => $this->order->id), 'clients.order-to-pdf') ?>" class="button">zapisz do pdf</a>
</div>
</form>

<?php endif; ?>

<h2>szybkie <strong>dodawanie produktu</strong></h2>

<form method="POST" action=";fast-product-add" id="form-fast-add">
    <div class="buttons">
        Podaj index produktu, aby dodać go do koszyka: <input type="text" name="index" class="inputText" placeholder="podaj index">
        <input type="submit" class="button" value="dodaj produkt">
    </div>
</form>

<?php if (count($this->saved)): ?>
<h2>niedokończone <strong>zamówienia</strong></h2>

<p>
    System znalazł zamówienia, których z jakichś powodów nie ukończyłeś. 
    Możesz je skasować lub wczytać - wtedy elementy tego zamówienia znajdą się w Twoim 
    aktualnym koszyku; jeżeli Twój aktualny koszyk zawiera jakieś produkty, zostanie on 
    zapisany i przeniesiony do niedokończonych zamówień.
</p>

<table class="listing">
    <thead>
        <tr>
            <th>rozpoczęto</th>
            <th>produkty</th>
            <th>wartość</th>
            <th style="width: 90px">akcje</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($this->saved as $item): ?>
        <tr>
            <td><?= date('Y-m-d', $item->created) ?></td>
            <td><?= $item->getElementsCount() ?></td>
            <td><?= $this->currency($item->getTotalPrice()) ?></td>
            <td class="actions">
                <a title="Pokaż to zamówienie" class="action show" href="<?= $this->url(array('id' => $item->id), 'clients.order') ?>?_s=clients.basket"></a>
                <a title="Wczytaj to zamówienie" class="action load" href="<?= $this->url(array('id' => $item->id, 'do' => 'open'), 'clients.order-action') ?>"></a>
                <a title="Usuń to zamówienie" class="action delete" href="<?= $this->url(array('id' => $item->id, 'do' => 'delete'), 'clients.order-action') ?>" onClick="return confirm('Czy na pewno chcesz usunąć to zamówienie?')"></a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<?php endif; ?>

<?php if (count($this->attention)): ?>
<h2>zamówienia <strong>do weryfikacji</strong></h2>
<p>
	Poniższe zamówienia wymagają Twojej weryfikacji. Możesz je odrzucić lub zaakceptować; 
	zostaną wtedy przekazane do realizacji lub ostatniej fazy weryfikacji. Możesz je również 
	wczytać w celu wprowadzenia do nich zmiań.
</p>
<table class="listing">
    <thead>
        <tr>
            <th style="width: 30px">nr</th>
            <th>stworzono</th>
            <th>stworzył</th>
            <th>zweryfikował</th>
            <th>produkty</th>
            <th>wartość</th>
            <th class="actions" style="width: 120px">akcje</th>
        </tr>
    </thead>
    <tbody>
    <?php 
        foreach ($this->attention as $item): 
            $creator = $item->getCreator();
            $verifier = $item->getOldVerifier();
    ?>
        <tr>
            <td><?= $item->id ?></td>
            <td><?= date('d-m-Y', $item->reported) ?></td>
            <td><?= ($creator ? $creator->getName() : '-') ?></td>
            <td><?= ($verifier ? $verifier->getName() : '-') ?></td>
            <td><?= $item->getElementsCount() ?></td>
            <td><?= $this->currency($item->getTotalPrice()) ?></td>
            <td class="actions">
                <a title="Pokaż to zamówienie" class="action show" href="<?= $this->url(array('id' => $item->id), 'clients.order') ?>?_s=clients.basket"></a>
                <a title="Wczytaj to zamówienie" class="action load" href="<?= $this->url(array('id' => $item->id, 'do' => 'open'), 'clients.order-action') ?>"></a>
                <a title="Zaakceptuj to zamówienie" class="action accept" href="<?= $this->url(array('id' => $item->id, 'do' => 'accept'), 'clients.order-action') ?>" onClick="return confirm('Czy na pewno chcesz zaakceptować to zamówienie?')"></a>
                <a title="Odrzuć to zamówienie" class="action delete" href="<?= $this->url(array('id' => $item->id, 'do' => 'throw'), 'clients.order-action') ?>" onClick="return confirm('Czy na pewno chcesz odrzucić to zamówienie?')"></a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<?php endif; ?>

<?php if (count($this->active)) : ?>
<h2>bieżące <strong>zamówienia</strong></h2>

<table class="listing">
    <thead>
        <tr>
            <th style="width: 30px">nr</th>
            <th>stworzono</th>
            <th>stworzył</th>
            <th>złożono</th>
            <th>złożył</th>
            <th>produkty</th>
            <th>wartość</th>
            <th>status</th>
            <th style="width: 30px">akcje</th>
        </tr>
    </thead>
    <tbody>
        <?php 
            foreach ($this->active as $item): 
                $creator = $item->getCreator();
                $pusher = $item->getPusher();
                $status = $item->getStatus();
        ?>
        <tr>
            <td><?= $item->id ?></td>
            <td><?= date('d-m-Y', $item->reported) ?></td>
            <td><?= ($creator ? $creator->getName() : '-') ?></td>
            <td><?= ($pusher ? date('d-m-Y', $item->pushed) : '-') ?></td>
            <td><?= ($pusher ? $pusher->getName() : '-') ?></td>
            <td><?= $item->getElementsCount() ?></td>
            <td><?= $this->currency($item->getTotalPrice()) ?></td>
            <td><?= $item->getStatus() ?></td>
            <td class="actions">
                <a title="Pokaż to zamówienie" class="action show" href="<?= $this->url(array('id' => $item->id), 'clients.order') ?>?_s=clients.basket"></a>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php endif; ?>

