<h2>ustawienia</h2>

<?= $this->partial('common/settings-tabs.phtml', array('active' => 'company')) ?>
<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<?= $this->tableForm($this->form) ?>

<script>
function copyDataTo(prefix) {
    jQuery.each(["street", "citycode", "city"], function(i, name) {
        $("#" + prefix + "_" + name).val($("#" + name).val());
    });
}    
</script>