<h2>historia <strong>zamówień</strong></h2>

<?= $this->partial('common/history-tabs.phtml', array('active' => 'history')) ?>
<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<?php if (count($this->rows)): ?>
<table class="listing">
    <thead>
        <tr>
            <th style="width: 30px">nr</th>
            <th>stworzono</th>
            <th>stworzył</th>
            <th>złożono</th>
            <th>złożył</th>
            <th>produkty</th>
            <th>wartość</th>
            <th style="width: 60px">akcje</th>
        </tr>
    </thead>
    <tbody>
    <?php 
        foreach ($this->rows as $item):
            $creator = $item->getCreator();
            $pusher = $item->getPusher();
    ?>
        <tr>
            <td><?= $item->id ?></td>
            <td><?= date('d-m-Y', $item->reported) ?></td>
            <td><?= ($creator ? $creator->getName() : '-') ?></td>
            <td><?= date('d-m-Y', $item->pushed) ?></td>
            <td><?= ($pusher ? $pusher->getName() : '-') ?></td>
            <td><?= $item->getElementsCount() ?></td>
            <td><?= $this->currency($item->getTotalPrice()) ?></td>
            <td class="actions">
                <a title="Pokaż to zamówienie" class="action show" href="<?= $this->url(array('id' => $item->id), 'clients.order') ?>?_s=clients.history"></a>
                <a title="Powiel to zamówienie" class="action copy" href="<?= $this->url(array('id' => $item->id, 'do' => 'copy'), 'clients.order-action') ?>?_s=clients.history"></a> 
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<?php else: ?>
<p>
    Historia Twoich zamówień jest pusta.
</p>
<?php endif; ?>