<h2>załóż <strong>konto</strong></h2>

<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<?= $this->tableForm($this->form) ?>

<script>
function copyDataTo(prefix) {
    jQuery.each(["street", "citycode", "city"], function(i, name) {
        $("#" + prefix + "_" + name).val($("#" + name).val());
    });
}    
</script>