<h2>konto zostało <strong>założone</strong></h2>

<p>
    Dziekujemy za założenie konta w naszym serwisie!
</p>
<p>
    Na podany w formularzu adres e-mail przesłaliśmy informacje umożliwiające zalogowanie się.
</p>