<h2>ustawienia</h2>

<?= $this->partial('common/settings-tabs.phtml', array('active' => 'addresses')) ?>
<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<div class="buttons">
    <a href="<?= $this->url(array(), 'clients.address-add') ?>" class="button">dodaj nowy adres</a>
</div>

<table class="listing listingMiddle">
    <thead>
        <tr>
            <th>nazwa adresu</th>
            <th>ulica</th>
            <th>miejscowość</th>
            <th style="width: 50px"></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->addresses as $account): ?>
        <tr>
            <td><?= $account->name ?></td>
            <td><?= $account->street ?></td>
            <td><?= $account->city ?></td>
            <td class="actions">
                <a href="<?= $this->url(array('id' => $account->id), 'clients.address-edit') ?>" class="action edit" title="edytuj adres"></a>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>