<h2>ustawienia</h2>

<?= $this->partial('common/settings-tabs.phtml', array('active' => 'accounts')) ?>
<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<div class="buttons">
    <a href="<?= $this->url(array(), 'clients.account-add') ?>" class="button">dodaj nowe konto</a>
</div>

<table class="listing listingMiddle">
    <thead>
        <tr>
            <th style="width: 15px"></th>
            <th style="width: 15px"></th>
            <th></th>
            <th>imię</th>
            <th>nazwisko</th>
            <th>adres e-mail</th>
            <th>weryfikator</th>
            <th>limit</th>
            <th>budżet</th>
            <th style="width: 50px"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3"><?= $this->account->login ?></td>
            <td><?= $this->account->name ?></td>
            <td><?= $this->account->surname ?></td>
            <td><?= $this->account->mail ?></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td class="actions">
                <a href="<?= $this->url(array('id' => $this->account->id), 'clients.account-edit') ?>" class="action edit" title="edytuj konto"></a>
            </td>
        </tr>
        <?php foreach ($this->account->getAccounts() as $account): ?>
        <tr>
            <td>&mdash;</td>
            <td colspan="2"><?= $account->login ?></td>
            <td><?= $account->name ?></td>
            <td><?= $account->surname ?></td>
            <td><?= $account->mail ?></td>
            <td><?= (($verifier = $account->getVerifier()) ? $verifier->login : '-') ?></td>
            <td><?= ($account->limit_type ? $account->getLimitTypeLabel() . '<br />' . $this->currency($account->limit) : '-') ?></td>
            <td><?= ($account->limit_type ? $this->currency($account->getTotalBudget()) : '-') ?></td>
            <td class="actions">
                <a href="<?= $this->url(array('id' => $account->id), 'clients.account-edit') ?>" class="action edit" title="edytuj konto"></a>
            </td>
        </tr>
        <?php foreach ($account->getAccounts() as $account): ?>
        <tr>
            <td>&mdash;</td>
            <td>&mdash;</td>
            <td><?= $account->login ?></td>
            <td><?= $account->name ?></td>
            <td><?= $account->surname ?></td>
            <td><?= $account->mail ?></td>
            <td><?= (($verifier = $account->getVerifier()) ? $verifier->login : '-') ?></td>
            <td><?= ($account->limit_type ? $account->getLimitTypeLabel() . '<br />' . $this->currency($account->limit) : '-') ?></td>
            <td><?= ($account->limit_type ? $this->currency($account->getTotalBudget()) : '-') ?></td>
            <td class="actions">
                <a href="<?= $this->url(array('id' => $account->id), 'clients.account-edit') ?>" class="action edit" title="edytuj konto"></a>
            </td>
        </tr>
        <?php endforeach; ?>
        <?php endforeach; ?>
    </tbody>
</table>