<h2>statystyki <strong>zamówień i produktów</strong></h2>

<?= $this->partial('common/stats-tabs.phtml', array('active' => 'orders')) ?>
<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<div class="filters">
    <form method="POST" class="buttons">
        <input class="inputText" type="text" name="date_from" id="date_from" placeholder="zamówienia od" value="<?= $this->date_from ?>">
        <input class="inputText" type="text" name="date_to" id="date_to" placeholder="zamówionia do" value="<?= $this->date_to ?>">
        <input type="submit" class="button" value="filtruj listę">
    </form>
</div>

<?php if (count($this->orders)): ?>
<table class="listing">
    <thead>
        <tr>
            <th>nr zamówienia</th>
            <th>złożono</th>
            <th>złożył</th>
            <th>produkty</th>
            <th>wartość</th>
            <th>status</th>
            <th style="width: 60px">akcje</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($this->orders as $orders): ?>
        <tr>
            <td colspan="7" class="header"><?= $orders['label'] ?></td>
        </tr>
        <?php 
            foreach ($orders['items'] as $item):
                $pusher = $item->getPusher();
        ?>
        <tr>
            <td><?= $item->id ?></td>
            <td><?= date('d-m-Y', $item->pushed) ?></td>
            <td><?= $pusher->getName() ?></td>
            <td><?= $item->getElementsCount() ?></td>
            <td><?= $item->getTotalPrice() ?> zł</td>
            <td><?= $item->getStatus() ?></td>
            <td class="actions">
                <a title="Pokaż to zamówienie" class="action show" href="<?= $this->url(array('id' => $item->id), 'clients.order') ?>?_s=clients.stats"></a>
                <a title="Powiel to zamówienie" class="action copy" href="<?= $this->url(array('id' => $item->id, 'do' => 'copy'), 'clients.order-action') ?>?_s=clients.stats"></a> 
            </td>
        </tr>
        <?php endforeach; ?>
        <tr class="summary">
            <td><?= count($orders['items']) ?> zamówień</td>
            <td colspan="2">ostatnie: <?= date('d-m-Y', $orders['last']) ?></td>
            <td><?= $orders['products'] ?></td>
            <td colspan="4"><?= $orders['price_sum'] ?> zł</td>
        </tr>
    <?php endforeach; ?>
    <tr class="summaryTotal">
        <td><?= ($this->summary['orders']) ?> zamówień</td>
        <td colspan="2">ostatnie: <?= date('d-m-Y', $this->summary['last']) ?></td>
        <td><?= $this->summary['products'] ?></td>
        <td colspan="4"><?= $this->summary['price_sum'] ?> zł</td>
    </tr>
    </tbody>
</table>
<?php else: ?>
<p>
    Historia Twoich zamówień jest pusta.
</p>
<?php endif; ?>