<h2>statystyki <strong>zamówień i produktów</strong></h2>

<?= $this->partial('common/stats-tabs.phtml', array('active' => 'products')) ?>
<?= $this->partial('messages.phtml', array('messages' => $this->messages)) ?>

<div class="filters">
    <form method="POST" class="buttons">
        <input class="inputText" type="text" name="date_from" id="date_from" placeholder="zamówione od" value="<?= $this->date_from ?>">
        <input class="inputText" type="text" name="date_to" id="date_to" placeholder="zamówione do" value="<?= $this->date_to ?>">
        <select class="inputText" name="account_id">
            <option value="0">- wszystkie konta</option>
            <?php foreach ($this->accounts as $account): ?>
            <option value="<?= $account->id ?>"<?= ($account->id == $this->account_id ? ' selected' : '') ?>><?= $account->getName() ?></option>
            <?php endforeach; ?>
        </select>
        <input type="submit" class="button" value="filtruj listę">
        <input type="submit" class="button" name="toXls" value="zapisz jako Excel">
    </form>
</div>

<?php if (count($this->items)): ?>
<table class="listing">
    <thead>
        <tr>
            <th>index</th>
            <th>nazwa produktu</th>
            <th><?= $this->tableTh('ilość', 'quantity') ?></th>
            <th><?= $this->tableTh('wartość', 'price_sum') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php 
            foreach ($this->items as $group):
                if (empty($group['quantity'])) continue;
        ?>
        <tr>
            <td class="header" colspan="4"><?= $group['label'] ?></td>
        </tr>
        <?php foreach ($group['items'] as $item): ?>
        <tr>
            <td><?= $item['index'] ?></td>
            <td><?= $item['mark'] . ' ' . $item['name'] ?></td>
            <td><?= $item['quantity'] ?></td>
            <td><?= $this->currency($item['price_sum']) ?></td>
        </tr>
        <?php endforeach; ?>
        <tr class="summary">
            <td colspan="2"></td>
            <td><?= $group['quantity'] ?></td>
            <td><?= $this->currency($group['price_sum']) ?></td>
        </tr>
        <?php endforeach; ?>
        <tr class="summaryTotal">
            <td colspan="2"></td>
            <td><?= $this->summary['quantity'] ?></td>
            <td><?= $this->currency($this->summary['price_sum']) ?></td>
        </tr>
    </tbody>
</table>
<?php else: ?>
<p>
    Nie znaleziono żadnych zamawianych produktów.
</p>
<?php endif; ?>