<div class="tabs">
    <?php foreach ($this->tabs as $tab): ?>
    <a href="<?= $tab['url'] ?>"<?= ($this->active == $tab['active'] ? ' class="active"' : '') ?>><?= $tab['label'] ?></a>
    <?php endforeach; ?>
</div>
