<div class="row">
<?php foreach ($this->products as $i => $product):?>
<div class="productItem productPromo">
    <div class="productItemImg">
        <a href="<?= $product->getUrl() ?>">
            <?php if (!$product->image): ?>
            <span class="productItemNoPhoto"></span>
            <?php else: ?>
            <img src="products/medium/<?= $product->image ?>" alt="<?= $product->getName() ?>">
            <?php endif; ?>
        </a>
        <a href="<?= $product->getUrl() ?>" class="offer-badge"></a>
    </div>
    <div class="productItemInfo">
        <a href="<?= $product->getUrl() ?>">
            <strong><?= $product->mark ?></strong><br />
            <?= $product->name ?>
        </a>
    </div>
    <div class="old"><?= $this->currency($product->getMaxVariantPrice()) ?></div>
    <div class="price"><?= $this->currency($product->getMaxVariantPromo($product->promotion)) ?></div>
</div>
<?php endforeach; ?>
</div>
