<div class="groups-bar">
    <div class="groups-list">
        <?php foreach ($this->groups as $i => $group): ?>
        <div class="groupItem">
            <a href="<?= $group['url'] ?>"><span>&raquo;</span> <?= $group['label'] ?></a>
        </div>
        <?php endforeach; ?>
        <?php if ($this->isUser): ?>
        <div class="groupItem">
            <a href="oferta-specjalna.html"><span>&raquo;</span> <strong>oferta specjalna</strong></a>
        </div>
        <?php endif; ?>
    </div>
</div>