<!DOCTYPE html>
<html lang="pl">
<head>
    <title><?= (isset($this->headTitle) ? $this->headTitle : $this->setting('meta_title')) ?></title>
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="<?= $this->setting('meta_keywords') ?>">
    <meta name="description" content="<?= (isset($this->headDescriptionSkip) ? '' : (isset($this->headDescription) ? $this->headDescription : $this->setting('meta_description'))) ?>">
    <base href="http://<?= $_SERVER['SERVER_NAME'] ?><?= $this->baseUrl() ?>/">
    <?php if (isset($this->headCanonical)): ?><link rel="canonical" href="http://<?= $_SERVER['SERVER_NAME'] ?><?= $this->baseUrl() ?><?= $this->headCanonical ?>"><?php endif; ?>
<!--    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="<?= $this->baseUrl() ?>/vendor/lightbox/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="<?= $this->baseUrl() ?>/css/app.css">
    <link rel="stylesheet" type="text/css" href="<?= $this->baseUrl() ?>/vendor/jquery/css/start/jquery-ui-1.10.4.custom.min.css">
    <?php if (isset($this->headNoIndex)): ?><meta name="robots" content="noindex"><?php endif; ?>
    <script src="<?= $this->baseUrl() ?>/vendor/jquery/js/jquery-1.10.2.js"></script>
    <script src="<?= $this->baseUrl() ?>/vendor/jquery/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="<?= $this->baseUrl() ?>/vendor/lightbox/jquery.magnific-popup.js"></script>
    <script src="<?= $this->baseUrl() ?>/js/bootstrap.js"></script>
    <script src="<?= $this->baseUrl() ?>js/knockout.js"></script>
    <script src="<?= $this->baseUrl() ?>/js/scripts.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="wrapper container">
        <div class="top row">
            <div class="logo col-sm-6 col-md-3">
                <a href="<?= $this->baseUrl() ?>/"><img src="images/logo.png" alt="Expert w biurze"></a>
            </div>
            <div class="menu col-md-4">
                <?php
                $TPages = new Content_Model_DbTable_Pages();
                $page1 = $TPages->find($this->setting('site_topAbout'))->current();
                $page2 = $TPages->find($this->setting('site_topContact'))->current();
                ?>
                <div class="row">
                    <a href="<?= $this->url(array(), 'products.promotions') ?>" class="col-md-4">Promocje</a>
                    <a href="<?= $page1->alias ?>.html" class="col-md-4">O firmie</a>
                    <a href="<?= $page2->alias ?>.html" class="col-md-4">Kontakt</a>
                </div>
            </div>
            <div class="client-block col-sm-6 col-md-5">
            <?php if (!$this->user): ?>
                <div class="row">
                    <div id="client-block-left" class="col-xs-3">
                        <div class="title">Strefa<span>klienta</span></div>
                    </div>
                    <div class="col-xs-9">
                        <form id="login-form" method="POST" action="<?= $this->url(array(), 'clients.login') ?>">
                            <div class="field">
                                <input type="text" name="login" class="inputText" placeholder="podaj swój login">
                            </div>
                            <div class="field">
                                <input type="password" name="password" class="inputText" placeholder="podaj swoje hasło">
                            </div>
                            <div class="buttons">
                                <input type="submit" class="button" value="zaloguj się">
                                <a href="<?= $this->url(array(), 'clients.register') ?>" class="button" style="float: right">załóż konto</a>
                            </div>
                        </form>
                    </div>
                </div>
                <?php else: ?>
                <div class="icons row">
                    <a href="<?= $this->url(array(), 'clients.basket') ?>" class="basket col-xs-6">Koszyk</a>
                    <a href="<?= $this->url(array(), 'clients.history') ?>" class="history col-xs-6">Historia</a>
                    <?php if ($this->user->canSeeStats()): ?>
                        <a href="<?= $this->url(array(), 'clients.stats') ?>" class="stats col-xs-6">Statystyki</a>
                    <?php endif; ?>
                    <a href="<?= $this->url(array(), 'clients.settings') ?>" class="settings col-xs-6">Ustawienia</a>
                </div>
                <?php endif; ?>
            </div>
            <?= $this->render('partials/mobile-menu.phtml') ?>
        </div>
        <?php if ($this->user): ?>
        <div class="user-bar">
            <div class="basket-info">
                Koszyk: <?= $this->currency($this->user->getCurrentOrderValue()) ?>
                (<?= $this->user->getCurrentOrderElementsCount() ?> produktów)
            </div>
            <div class="user-info">
                <span><?= $this->user->login ?></span>
                (<a href=";logout">wyloguj</a>)
            </div>
        </div>
        <?php endif; ?>
        <?php if (isset($this->isHome)): ?>
        <?= $this->render('partials/slider.phtml') ?>
        <?= $this->render('partials/search-bar.phtml') ?>
        <?= $this->partial('groups-bar.phtml', array('groups' => $this->groups, 'isUser' => $this->user)) ?>
        <?= $this->partial('middle-bar.phtml') ?>
        <?php else: ?>
        <?= $this->partial('groups-bar.phtml', array('groups' => $this->groups, 'isUser' => $this->user)) ?>
        <?= $this->render('partials/search-bar.phtml') ?>
        <?php endif; ?>
        <div class="middle">
            <?= $this->layout()->content ?>
        </div>
        <div class="about-wrapper">
            <div class="header">
                <?= $this->setting('site_aboutTitle', null, true) ?>
                <span><?= $this->setting('site_aboutSlogan', null, true) ?></span>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <?= $this->setting('site_aboutContent', null, true) ?>
                </div>
                <div class="col-md-1">
                    <?php
                    $pageId = $this->setting('site_aboutPage');
                    $TPages = new Content_Model_DbTable_Pages();
                    $page = $TPages->find($pageId)->current();
                    ?>
                    <div class="buttons">
                        <a href="<?= $this->baseUrl() . '/' . $page->alias ?>.html" class="button">więcej</a>
                    </div>
                </div><div class="cl"></div>
            </div>
        </div>
        <?php if (!empty($this->banner)): ?>
        <div class="banner-wrapper">
            <div class="banner"">
                <?php if ($this->banner->url): ?>
                <a href="<?= $this->banner->url ?>" target="_blank">
                    <?php elseif ($this->banner->file): ?>
                    <a href="files/<?= $this->banner->file ?>" target="_blank">
                        <?php endif; ?>
                        <img src="banners/<?= $this->banner->image ?>" alt="<?= $this->banner->name ?>">
                    </a>
            </div>
            <div class="circle">
                <?php if ($this->banner->url): ?>
                <a href="<?= $this->banner->url ?>" target="_blank">
                    <?php elseif ($this->banner->file): ?>
                    <a href="files/<?= $this->banner->file ?>" target="_blank">
                        <?php endif; ?>
                    </a>
            </div>
        </div>
        <?php endif; ?>
        <div class="pages-wrapper">
            <div class="left">
                <div class="header"><?= $this->setting('site_menuTitle', null, true) ?></div>
                <div>
                    <?= $this->setting('site_menuContent', null, true) ?>
                </div>
            </div>
            <div class="right">
                <div class="row">
                <?php foreach ($this->pagesList as $side => $pages): ?>
                    <div class="col-md-6">
                        <?php foreach ($pages as $page): ?>
                            <div class="item"><a href="<?= $this->baseUrl() . '/' . $page->alias ?>.html"><?= $page->getMenuTitle() ?></a></div>
                        <?php endforeach; ?>
                    </div>
                <?php endforeach; ?>
                </div>
            </div>
        </div>
        <div class="contact-wrapper">
            <div class="header"><strong>zapytaj</strong> nas</div>
            <div class="contact-form" id="contact-form">
                <form method="POST" id="form-contact" action="clients/site/contact">
                    <div>
                        <input type="text" class="inputText" name="mail" placeholder="podaj e-mail">
                    </div>
                    <div>
                        <textarea class="inputTextarea" name="content" placeholder="wpisz treść zapytania"></textarea>
                    </div>
                    <div class="buttons buttonsWhite">
                        <input type="submit" class="button" value="wyślij">
                    </div>
                </form>
            </div>
            <div class="contact-info" id="contact-info">
                <div class="vcard">
                    <div id="contact-info-address">
                        <?= stripslashes($this->setting('site_contactAddress', null, true)) ?>
                    </div>
                    <div id="contact-info-phones">
                        <?= stripslashes($this->setting('site_contactPhones', null, true)) ?>
                    </div>
                    <div id="contact-info-mail">
                        <a class="email" href="mailto:<?= $this->setting('site_contactMail', null, true) ?>"><?= $this->setting('site_contactMail', null, true) ?></a>
                    </div>
                </div>
            </div>
            <div class="image">
                <img src="images/foto.jpg" class="photo" alt="Expert w biurze">
            </div>
        </div>
        <div class="bottom-wrapper row" id="bottom-wrapper">
            <div class="icons col-sm-6 col-xs-12">
            <?php if ($this->setting('site_bottomG+')): ?>
                <a href="<?= $this->setting('site_bottomG+') ?>" target="_blank" class="gp"></a>
            <?php endif; ?>
            <?php if ($this->setting('site_bottomFB')): ?>
                <a href="<?= $this->setting('site_bottomFB') ?>" target="_blank" class="fb"></a>
            <?php endif; ?>
            </div>
            <div class="copyright col-sm-6">
                <div><?= $this->setting('site_bottomSlogan', null, true) ?></div>
                <div><a href="http://www.es-multimedia.pl" target="_blank">es multimedia | 2O14</a></div>
            </div>
        </div>
    </div>
</body>
</html>
