<!DOCTYPE html>
<html lang="pl">
<head>
    <title><?= (isset($this->headTitle) ? $this->headTitle : $this->setting('meta_title')) ?></title>
    <meta name="keywords" content="<?= $this->setting('meta_keywords') ?>">
    <meta name="description" content="<?= (isset($this->headDescriptionSkip) ? '' : (isset($this->headDescription) ? $this->headDescription : $this->setting('meta_description'))) ?>">
    <base href="http://<?= $_SERVER['SERVER_NAME'] ?><?= $this->baseUrl() ?>/">
    <?php if (isset($this->headCanonical)): ?><link rel="canonical" href="http://<?= $_SERVER['SERVER_NAME'] ?><?= $this->baseUrl() ?><?= $this->headCanonical ?>"><?php endif; ?>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<?= $this->baseUrl() ?>/vendor/lightbox/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="<?= $this->baseUrl() ?>/css/reset.css">
    <link rel="stylesheet" type="text/css" href="<?= $this->baseUrl() ?>/css/layout.css">
    <link rel="stylesheet" type="text/css" href="<?= $this->baseUrl() ?>/vendor/jquery/css/start/jquery-ui-1.10.4.custom.min.css">
    <?php if (isset($this->headNoIndex)): ?><meta name="robots" content="noindex"><?php endif; ?>
    <script src="<?= $this->baseUrl() ?>/vendor/jquery/js/jquery-1.10.2.js"></script>
    <script src="<?= $this->baseUrl() ?>/vendor/jquery/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="<?= $this->baseUrl() ?>/vendor/lightbox/jquery.magnific-popup.js"></script>
    <script src="<?= $this->baseUrl() ?>/js/basic.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="wrapper">
        <div id="top">
            <div id="logo">
                <a href="<?= $this->baseUrl() ?>"><img src="images/logo.png" alt="Expert w biurze"></a>
            </div>
            <div id="top-menu">
                <?php
                    $TPages = new Content_Model_DbTable_Pages();
                    $page1 = $TPages->find($this->setting('site_topAbout'))->current();
                    $page2 = $TPages->find($this->setting('site_topContact'))->current();
                ?>
                <a href="<?= $this->url(array(), 'promotions') ?>">Promocje</a>
                <a href="<?= $page1->alias ?>.html">O firmie</a>
                <a href="<?= $page2->alias ?>.html">Kontakt</a>
            </div>
            <div id="client-block">
                <div id="client-block-left">
                    <div class="label">Strefa<span>klienta</span></div>
                    <?php if ($this->user): ?>
                    <div class="buttons">
                        <a href="<?= $this->url(array(), 'clients.logout') ?>" class="button isBlock">wyloguj się</a>
                    </div>
                    <?php endif; ?>
                </div>
                <div id="client-block-right">
                    <?php if (!$this->user): ?>
                    <form id="login-form" method="POST" action="<?= $this->url(array(), 'clients.login') ?>">
                        <div class="field">
                            <input type="text" name="login" class="inputText" placeholder="podaj swój login">
                        </div>
                        <div class="field">
                            <input type="password" name="password" class="inputText" placeholder="podaj swoje hasło">
                        </div>
                        <div class="buttons">
                            <input type="submit" class="button" value="zaloguj się">
                            <a href="<?= $this->url(array(), 'clients.register') ?>" class="button" style="float: right">załóż konto</a>
                        </div>
                    </form>
                    <?php else: ?>
                    <div id="client-icons">
                        <a href="<?= $this->url(array(), 'clients.basket') ?>"><img src="images/koszyk.png" alt="Koszyk i zamówienia" title="Koszyk i zamówienia"></a>
                        <a href="<?= $this->url(array(), 'clients.history') ?>"><img src="images/historia.png" alt="Historia zamówień" title="Historia zamówień"></a>
                        <?php if ($this->user->canSeeStats()): ?>
                        <a href="<?= $this->url(array(), 'clients.stats') ?>"><img src="images/statystyki.png" alt="Statystyki" title="Statystyki"></a>
                        <?php endif; ?>
                        <a href="<?= $this->url(array(), 'clients.settings') ?>"><img src="images/ustawienia.png" alt="Ustawienia" title="Ustawienia"></a>
                    </div>
                    <div id="client-links">
                        <div class="leftLinks">
                            <div><a href="<?= $this->url(array(), 'clients.basket') ?>">koszyk i zamówienia</a></div>
                            <div><a href="<?= $this->url(array(), 'clients.history') ?>">historia zamówień</a></div>
                        </div>
                        <div class="rightLinks">
                            <?php if ($this->user->canSeeStats()): ?>
                            <div><a href="<?= $this->url(array(), 'clients.stats') ?>">statystyki</a></div>
                            <?php endif; ?>
                            <div><a href="<?= $this->url(array(), 'clients.settings') ?>">ustawienia</a></div>
                        </div>
                    </div>
                    <?php endif; ?>
                </div>
            </div>

        </div>
        <?php if ($this->user && $this->user->hasLimits()): ?>
        <div id="limits" style="background-color: #666; padding: 10px 25px; color: #fff">
            <div style="float: left">
                <a href="<?= $this->url(array(), 'clients.basket') ?>" style="color: #fff">Koszyk:
                <?= number_format($this->user->getCurrentOrderValue(), 2) ?> zł
                (<?= $this->user->getCurrentOrderElementsCount() ?> produktów)</a>
            </div>
            <div style="float: right">Budżet:
                <?= number_format($this->user->getTotalBudget(), 2) ?> zł
                / <?= number_format($this->user->limit, 2) ?> zł</div>
            <div class="cb"></div>
        </div>
        <?php endif; ?>
        <?php if (isset($this->isHome)): ?>
        <div id="slider"<?= ($this->sliders->count() == 0 ? 'class="sliderDefault"' : '') ?>>
            <?php if ($this->sliders->count() > 0): ?>
            <div id="slider-block">
                <?php foreach ($this->sliders as $slider): ?>
                <div class="slide">
                    <?php if ($slider->url): ?>
                    <a href="<?= $slider->url ?>"<?= ($slider->external ? ' target="_blank"' : '') ?>>
                    <?php endif; ?>
                    <img src="sliders/<?= $slider->image ?>" alt="<?= $slider->name ?>">
                    <?php if ($slider->url): ?></a><?php endif; ?>
                </div>
                <?php endforeach; ?>
            </div>
            <?php if ($this->sliders->count() > 1): ?>
            <span id="naviBtnLeft" class="naviBtn"></span>
            <span id="naviBtnRight" class="naviBtn"></span>
            <?php endif; ?>
            <?php endif; ?>
        </div>
        <?= $this->partial('search-bar.phtml') ?>
        <?= $this->partial('groups-bar.phtml', array('groups' => $this->groups, 'isUser' => $this->user)) ?>
        <?= $this->partial('middle-bar.phtml') ?>
        <?php else: ?>
        <div style="height: 10px; background-color: #1dc3d8"></div>
        <?= $this->partial('groups-bar.phtml', array('groups' => $this->groups, 'isUser' => $this->user)) ?>
        <?= $this->partial('search-bar.phtml') ?>
        <?php endif; ?>
        <div id="middle-wrapper">
            <?= $this->layout()->content ?>
        </div>
        <?php
            if (!empty($this->user)):
                $client = $this->user->getClient();
                $admin = $client->getAdmin();

                if ($admin && $admin->position):
        ?>
        <div id="trader-wrapper" style="position: relative;">
            <?php if ($admin->image): ?>
            <img src="admins/<?= $admin->image ?>" alt="<?= $admin->name . ' ' . $admin->surname ?>">
            <?php endif; ?>
            <div class="block">
                <div class="label"><?= $admin->position ?></div>
                <div class="name strong"><?= $admin->name . ' ' . $admin->surname ?></div>
            </div>
            <div class="block">
                <div class="phone">
                    <div>Zadzwoń do mnie</div>
                    <div>+48 <?= $admin->phone ?></div>
                </div>
            </div>
            <div class="block blockRight">
                <div class="mail">
                    <div>Napisz do mnie</div>
                    <div><a href="mailto:<?= $admin->mail ?>"><?= $admin->mail ?></a></div>
                </div>
            </div><div class="cl"></div>
        </div>
        <?php endif; endif; ?>
        <?php if (isset($this->isHome)): ?>
        <div id="about-wrapper">
            <div class="header">
                <?= $this->setting('site_aboutTitle', null, true) ?>
                <span><?= $this->setting('site_aboutSlogan', null, true) ?></span>
            </div>
            <div>
                <div style="width: 885px; text-align: justify; float: left">
                <?= $this->setting('site_aboutContent', null, true) ?>
                </div>
                <div style="float: left; margin-left: 35px">
                <?php
                    $pageId = $this->setting('site_aboutPage');
                    $TPages = new Content_Model_DbTable_Pages();
                    $page = $TPages->find($pageId)->current();
                ?>
                    <div class="buttons">
                        <a href="<?= $this->baseUrl() . '/' . $page->alias ?>.html" class="button">więcej</a>
                    </div>
                </div><div class="cl"></div>
            </div>
        </div>
        <?php if (!empty($this->banner)): ?>
        <div id="banner-wrapper">
            <div id="banner-element">
                <?php if ($this->banner->url): ?>
                <a href="<?= $this->banner->url ?>" target="_blank">
                <?php elseif ($this->banner->file): ?>
                <a href="files/<?= $this->banner->file ?>" target="_blank">
                <?php endif; ?>
                <img src="banners/<?= $this->banner->image ?>" alt="<?= $this->banner->name ?>">
                </a>
            </div>
            <div id="banner-circle">
                <?php if ($this->banner->url): ?>
                <a href="<?= $this->banner->url ?>" target="_blank">
                <?php elseif ($this->banner->file): ?>
                <a href="files/<?= $this->banner->file ?>" target="_blank">
                <?php endif; ?>
                </a>
            </div>
        </div>
        <?php endif; ?>
        <?php endif; ?>
        <div id="pages-wrapper">
            <div class="left">
                <div class="header"><?= $this->setting('site_menuTitle', null, true) ?></div>
                <div>
                    <?= $this->setting('site_menuContent', null, true) ?>
                </div>
            </div>
            <div class="right">
                <?php foreach ($this->pagesList as $side => $pages): ?>
                <div class="pagesList pagesList<?= ($side ? 'Right' : 'Left') ?>">
                    <?php foreach ($pages as $page): ?>
                    <div class="item"><a href="<?= $this->baseUrl() . '/' . $page->alias ?>.html"><?= $page->getMenuTitle() ?></a></div>
                    <?php endforeach; ?>
                </div>
                <?php endforeach; ?>
            </div><div class="cb"></div>
        </div>
        <div id="contact-wrapper">
            <img src="images/foto.jpg" class="photo" alt="Expert w biurze">
            <div class="header"><strong>zapytaj</strong> nas</div>
            <div id="contact-form">
                <form method="POST" id="form-contact" action="clients/site/contact">
                    <div>
                        <input type="text" class="inputText" name="mail" placeholder="podaj e-mail">
                    </div>
                    <div>
                        <textarea class="inputTextarea" name="content" placeholder="wpisz treść zapytania"></textarea>
                    </div>
                    <div class="buttons buttonsWhite">
                        <input type="submit" class="button" value="wyślij">
                    </div>
                </form>
            </div>
            <div id="contact-info">
                <div class="vcard">
                    <div id="contact-info-address">
                        <?= stripslashes($this->setting('site_contactAddress', null, true)) ?>
                    </div>
                    <div id="contact-info-phones">
                        <?= stripslashes($this->setting('site_contactPhones', null, true)) ?>
                    </div>
                    <div id="contact-info-mail">
                        <a class="email" href="mailto:<?= $this->setting('site_contactMail', null, true) ?>"><?= $this->setting('site_contactMail', null, true) ?></a>
                    </div>
                </div>
            </div><div class="cb"></div>
        </div>
        <div id="bottom-wrapper">
            <?php if ($this->setting('site_bottomG+')): ?>
            <a href="<?= $this->setting('site_bottomG+') ?>" target="_blank" class="gp"></a>
            <?php endif; ?>
            <?php if ($this->setting('site_bottomFB')): ?>
            <a href="<?= $this->setting('site_bottomFB') ?>" target="_blank" class="fb"></a>
            <?php endif; ?>
            <div id="bottom-info">
                <div><?= $this->setting('site_bottomSlogan', null, true) ?></div>
                <div><a href="http://www.es-multimedia.pl" target="_blank">es multimedia | 2O14</a></div>
            </div>
        </div>
    </div>
</body>
