<?php
    $container = isset($this->container) ? $this->container : 'default';
    $messages = $this->messages->get($container);
    
    if (count($messages)):
?>
<div class="baseMessages">
    <?php foreach ($messages as $item): ?>
    <div class="message <?= $item['type'] ?>"><?= $item['message'] ?></div>
    <?php endforeach; ?>
</div>
<?php endif; ?>