<div class="middle-block">
    <div class="left">
        <div class="phones-block">
            <div class="phones">
                <div class="phone"><?= $this->setting('site_phoneUp1', null, true) ?></div>
                <div class="phone"><?= $this->setting('site_phoneUp2', null, true) ?></div>
            </div>
        </div>
        <div class="under">
            <?= $this->setting('site_underPhone', null, true) ?>
        </div>
    </div>
    <div class="center">
        <div class="os24">
            <strong>Załóż konto</strong><br />
            dla swojej firmy i zamawiaj wygodnie online
        </div>
        <div>
            oferty specjalne<br />
            monitoring wydatków<br />
            dostawa w <strong>24h</strong>
        </div>
        <a href="<?= $this->url(array(), 'clients.register') ?>" title="załóż konto"></a>
    </div>
    <div class="right">
        <div class="col1">
            <div class="os24"><strong>Katalog</strong><br />produktów</div>
            <?php if ($this->setting('site_catalog')): ?>
            <div>pobierz katalog<br />w wersji PDF</div>
            <?php endif; ?>
        </div>
        <div class="col2">
            <a <?= ($this->setting('site_catalog') ? 'href="files/' . $this->setting('site_catalog') . '"' : '') ?> target="_blank"><img src="files/<?= $this->setting('site_catalogCover') ?>" alt="Pobierz katalog w wersji PDF"></a>
        </div>
    </div>
</div>