<div id="search">
            <div id="search-area">
                <div id="search-by-string">
                    <form method="GET" action="<?= $this->url(array(), 'products.search') ?>">
                        <input type="text" name="string" class="inputText" placeholder="wpisz nazwę produktu">
                        <input type="submit" class="inputSubmit" value="">
                    </form>
                </div>
                <div id="search-by-index">
                    <form method="POST" action="<?= $this->url(array(), 'products.search-index') ?>">
                        <input type="text" name="string" class="inputText" placeholder="wpisz index">
                        <input type="submit" class="inputSubmit" value="">
                    </form>
                </div>
            </div>
        </div>