@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$blue: #01b4cb;
$purple: #db236d;
$lightGray: #d5d5d5;
$green: #a0d500;
$bgcolor: #1dc3d8;

body {
  background-color: #1dc3d8;
}

body, a, input, textarea {
  font-family: Arial;
  color: #333;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1100px;
  }
}

@import "./partials/globals";

.top {
  background-color: #fff;
  min-height: 150px;
  padding-top: 25px;
  padding-bottom: 25px;

  .logo {
    height: 100%;
    padding: 21px 0;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: middle;

      img {
        @extend .img-responsive;
        margin: 0 auto;
      }
    }
  }

  .menu {
    @extend .visible-md, .visible-lg;
    padding-top: 45px;
    line-height: 54px;

    a {
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .client-block .title {
    font-family: "Open Sans", sans-serif;
    color: #01b4cb;
    font-size: 24px;
    height: 64px;
    line-height: 100%;
    margin-left: -20px;
  }
  .client-block .title span {
    display: block;
    margin-left: 15px;
  }

  .client-block {
    padding-left: 50px;
    border-left: 1px dotted #333;

      .icons {
        height: 64px;

        a {
          height: 48px;
          line-height: 48px;
          display: block;
          padding-left: 60px;
          background: {
            position: top left;
            repeat: no-repeat;
          }
          text-transform: uppercase;

          &.basket {
            background-image: url(../images/koszyk.png);
          }
          &.history {
            background-image: url(../images/historia.png);
          }
          &.settings {
            background-image: url(../images/ustawienia.png);
          }
          &.stats {
            background-image: url(../images/statystyki.png);
          }
        }
      }

      .inputText {
        width: 100%;
        height: 26px;
        background-color: #f4f4f4;;
        border: 1px solid #1dc3d8;
        border-radius: 2px;
        padding-left: 10px;
        margin-bottom: 6px;
      }
  }
}

.user-bar {
  @extend .row;
  border-top: 2px solid $bgcolor;
  background-color: #fff;
  border-bottom: 2px solid $bgcolor;
  text-transform: uppercase;
  padding: 8px 0;

  .basket-info {
    @extend .col-xs-4;
  }

  .user-info {
    @extend .col-xs-4;
    text-align: center;

    span {
      font-weight: bold;
    }
  }
}

.middle-block {
  @extend .row;
  background-color: #01b4cb;
  min-height: 190px;
  position: relative;
  padding-top: 20px;
  color: #fff;
  font-size: 14px;

  .os24 {
    margin-bottom: 20px;
  }

  .left {
    @extend .col-md-4;
    @extend .visible-lg, .visible-md;
    margin-left: -15px;

    .phones-block {
      background-color: #a2d727;
      padding-left: 55px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 24px;

      .phones {
        background-image: url(../images/telefon-gorny.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 55px;

        strong {
          font-weight: 800;
          font-family: "Open Sans", sans-serif;
        }
      }
    }

    .under {
      margin-left: 55px;
      margin-top: 20px;
    }
  }

  .center {
    @extend .col-md-4, .col-xs-6;
    position: relative;

    a {
      width: 88px;
      height: 88px;
      position: absolute;
      bottom: 0;
      right: 15px;
      margin-right: 30px;
      cursor: pointer;
      display: block;
      background-image: url(../images/zaloz-konto.png);
    }
  }

  .right {
    @extend .col-md-4, .col-xs-6;
    padding-left: 40px;
    border-left: 1px dotted #fff;

    .col1 {
      @extend .col-xs-6;
    }
    .col2 {
      @extend .col-xs-6;
      position: relative;

      a {
        display: block;

        img {
          @extend .img-responsive;
        }
      }
    }
  }
}

#middle-block-right .right {
  width: 160px;
  float: right;
  position: relative;
  height: 150px;
}
#middle-block-right .right a {
  display: block;
  position: absolute;
  top: -20px;
  left: 0px;
}
#middle-block-right .left {
  float: left;
  margin-right: 15px;
}

.middle {
  @extend .row;
  background-color: #fff;
  padding: {
    left: 40px;
    right: 40px;
  }
  padding-bottom: 30px;
}

.about-wrapper {
  @extend .row;
  @extend .visible-lg;
  @extend .visible-md;
  padding: 30px 40px;
  background-color: #333;
  color: $lightGray;

  .header {
    font-size: 40px;
    color: #05a4b7;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 100%;
  }
}

.banner-wrapper {
  @extend .row;
  padding: 20px 40px;
  background-color: #666;

  .banner {
    @extend .col-sm-10;
    @extend .col-xs-12;
    a {
      display: block;

      img {
        @extend .img-responsive;
      }
    }
  }

  .circle {
    @extend .col-sm-2;
    @extend .visible-sm;
    @extend .visible-md;
    @extend .visible-lg;

    a {
      vertical-align: middle;
      display: block;
      width: 100%;
      padding-top: 100%;
      cursor: pointer;
      background-image: url(../images/sprawdz-promocje.png);
      background-size: cover;
    }
  }
}

.pages-wrapper {
  @extend .row;
  padding: 30px 40px;
  background-color: #333;
  color: #fff;

  .header {
    font-size: 24px;
    color: $green;
    margin-bottom: 20px;
    line-height: 100%;
    font-weight: 300;
  }

  .left {
    @extend .col-md-4;

    .color {
      color: $green;
    }
  }
  .right {
    @extend .col-md-8;
    margin-top: 24px;

    a {
      display: block;
      font-size: 14px;
      padding-left: 10px;
      text-transform: uppercase;
      line-height: 35px;
      border-bottom: 1px dotted #fff;
      background: url(../images/lista-menu.png) right center no-repeat;
      color: #fff;
    }
  }
}

.contact-wrapper {
  @extend .row;
  padding: 20px 55px 0 40px;
  background-color: #666;
  position: relative;

  &, a, .header {
    color: #fff;
  }

  .header {
    margin-bottom: 12px;
    margin-left: 15px;
  }

  .contact-form {
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-xs-12;
    margin-bottom: 20px;

    .inputText, .inputTextarea {
      width: 90%;
      height: 32px;
      background-color: #d5d5d5;
      border: 1px solid #333;
      border-radius: 3px;
      padding-left: 10px;
      margin-bottom: 8px;
      @include placeholder(#333);
    }

    .inputTextarea {
      height: 90px;
      padding-top: 8px;
    }
  }

  .contact-info {
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-xs-12;
    margin-bottom: 20px;

    &, a {
      font-size: 14px;
    }

    #contact-info-phones {
      margin-top: 13px;
      padding-left: 70px;
      background: url(../images/telefon.png) left center no-repeat;
      min-height: 60px;
    }
    #contact-info-mail {
      margin-top: 5px;
      padding-left: 70px;
      background: url(../images/koperta.png) left center no-repeat;
      height: 60px;
      line-height: 60px;
    }
  }

  .image {
    @extend .visible-lg;
    @extend .visible-md;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.bottom-wrapper {
  padding: 30px 40px;
  background-color: #333;
  min-height: 110px;

  .icons {
    .fb {
      display: block;
      width: 51px;
      height: 50px;
      background-image: url(../images/fb.png);
      float: left;
      margin-right: 15px;
    }

    .gp {
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(../images/google.png);
      float: left;
      margin-right: 15px;
    }
  }
  .copyright {
    text-align: right;
    line-height: 25px;
    color: #d5d5d5;
  }
}

.groups-bar {
  @extend .row;
  padding: 25px 30px;
  background-color: #fff;

  @media (min-width: 786px) {
    padding-left: 55px;
  }

  .groups-list {
    @media (min-width: 768px) {
      padding-left: 120px;
      background: url(../images/katalog.png) left center no-repeat;
    }
    min-height: 160px;

    .groupItem {
      @extend .col-md-4, .col-xs-6;

      a {
        color: #01b4cb;
        font-size: 14px;
        line-height: 20px;

        span {
          font-size: 16px;
        }
      }
    }
  }
}

.page {
  @extend .col-xs-12;
  margin-bottom: 30px;
}

@import "./partials/slider";
@import "./partials/mobile-menu";
@import "./partials/search-bar";
@import "./partials/product-list";
@import "./partials/product";