<!DOCTYPE>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <base href="http://<?= $_SERVER['SERVER_NAME'] ?><?= $this->baseUrl() ?>/">
        <link href="lib/ext/resources/css/ext-all-gray.css" type="text/css" rel="stylesheet">
        <link href="lib/step/resources/desktop.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="lib/ext/ext-all-debug.js"></script>
        <script type="text/javascript" src="lib/ext/locale/ext-lang-pl.js"></script>
        <script type="text/javascript" src="step/api?app=<?= $this->appClass ?>"></script>
        <script type="text/javascript">
            Ext.Loader.setConfig({
                enabled: true
            });
            Ext.Loader.setPath({
                "Step": "lib/step/src"
            });
            
            Ext.require("<?= $this->appClass ?>");
 
            Ext.onReady(function() {
                Ext.direct.Manager.addProvider(Ext.app.REMOTING_API);
                new <?= $this->appClass ?>(<?= json_encode($this->appOptions) ?>);
            });
        </script>
    </head>
    <body>
    </body>
</html>
