<h1><?= stripslashes($this->pageInfo->title) ?></h1>

<div style="float: left">
    <?= $this->bb($this->pageInfo->content) ?>
</div>
<?php if ($this->pageInfo->id == 4): ?>
<img src="images/grupa.jpg" alt="Expert w biurze Sp. z o.o." style="float: right">
<?php endif; ?>
<div class="cb"></div>
