<div class="row">
    <?php foreach ($this->products as $i => $product):?>
        <div class="productItem">
            <div class="productItemImg">
                <a href="<?= $product->getUrl() ?>" style="height: 130px">
                    <?php if (!$product->image): ?>
                        <img src="images/no-foto.jpg" alt="<?= $product->getName() ?>">
                    <?php else:?>
                        <img src="products/medium/<?= $product->image ?>" alt="<?= $product->getName() ?>">
                    <?php endif; ?>
                </a>
                <a href="<?= $product->getUrl() ?>" class="offer-badge"></a>
            </div>
            <div class="productItemInfo">
                <a href="<?= $product->getUrl() ?>">
                    <strong><?= $product->mark ?></strong>
                    <span><?= $product->name ?></span>
                </a>
            </div>
        </div>
    <?php endforeach; ?>
</div>


<?php 
    if (!method_exists($this->products, 'getPages')) return;
    
    $pages = $this->products->getPages();
    
    if ($pages->pageCount > 1):
?>
<div class="buttons paginator">
    <?php if (!empty($pages->previous)): ?>
    <a href="<?= $this->url(array()) ?>?p=<?= $pages->previous ?>" class="button">poprzednie</a>
    <?php endif; ?>
    <?php foreach ($pages->pagesInRange as $page): ?>
    <a href="<?= $this->url(array()) ?>?p=<?= $page ?>" class="button<?= ($page == $pages->current ? ' active' : '') ?>"><?= $page ?></a>
    <?php endforeach; ?>
    <?php if (!empty($pages->next)): ?>
    <a href="<?= $this->url(array()) ?>?p=<?= $pages->next ?>" class="button">następne</a>
    <?php endif; ?>
</div>
<?php endif; ?>
