<h2>nie znaleziono <strong>produktu</strong></h2>

<p>
    Przepraszamy, ale taki produkt nie istnieje w naszej ofercie.
</p>

<?php if ($this->user): ?>
<p>
    Jeżeli uważasz, że taki produkt powinien znajdować się w ofercie, prosimy
    o kontakt.
</p>
<?php endif; ?>
