<div class="product">
    <h2><?= $this->header ?></h2>

    <div class="row">
        <div class="name"><h1><?= $this->product->getName() ?></h1></div>
        <div class="meta">
            <div class="left">
                <div class="photo">
                    <?php if ($this->product->image): ?>
                    <a href="products/<?= $this->product->image ?>" class="productLB">
                    <?php endif; ?>
                    <img src="<?= ($this->product->image ? 'products/medium/' . $this->product->image : 'images/no-foto.jpg') ?>" alt="<?= $this->product->getName() ?>">
                    <?php if ($this->product->image): ?></a><?php endif; ?>
                </div>
                <div class="productDescription">
                    <?= stripslashes(nl2br($this->product->description)) ?>
                </div>
            </div>
            <div class="right">
                <div class="row">
                <!-- ko foreach: toFilter -->
                    <div class="filter">
                        <div class="filter-label" data-bind="text: field.name"></div>
                        <div>
                            <select name="filter" data-bind="
                        options: values,
                        value: value,
                        optionsCaption: 'Filtruj...',
                        optionsText: $parent.getFilterText(field.index)"></select>
                        </div>
                    </div>
                <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="variants-list">

            <form method="POST" action="<?= $this->url(array(), 'products.add-to-basket') ?>" id="add-to-basket-form">
                <table class="variants">
                    <thead>
                        <tr>
                            <th></th>
                            <!-- ko foreach: fields -->
                            <th data-bind="text: name"></th>
                            <!-- /ko -->
                            <!-- ko if: allowBuy -->
                            <th class="buy">kup</th>
                            <!-- /ko -->
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: variants">
                        <tr>
                            <td data-bind="text: index" class="index"></td>
                            <!-- ko foreach: $parent.fields -->
                            <td rowspan="2">
                                <!-- ko if: type == 'color' -->
                                <img data-bind="attr: {src: 'colors/' + $parent.fields[index] + '.gif'}">
                                <!-- /ko -->
                                <!-- ko ifnot: type == 'color' -->
                                <!-- ko text: $parent.fields[index] --><!-- /ko -->
                                <!-- /ko -->
                            </td>
                            <!-- /ko -->
                            <!-- ko if: $parent.allowBuy -->
                            <td rowspan="2" class="buy">
                                <div>
                                    <input type="checkbox" data-bind="attr: {id: 'buy_variant_' + id}, checked: $parent.wantBuy[id]">
                                    <label data-bind="attr: {for: 'buy_variant_' + id}">chcę kupić</label>
                                </div>
                                <input type="number" data-bind="attr: {name: 'quantity[' + id + ']'}, enable: $parent.wantBuy[id]" value="1">
                            </td>
                            <!-- /ko -->
                        </tr>
                    <tr>
                        <td data-bind="text: price, css: {price: true, isPromo: isPromo}"></td>
                    </tr>
                    </tbody>
                </table>
                <?php if ($this->user): ?>
                <div class="buttons" style="margin-top: 20px; text-align: right">
                    <input type="submit" class="button" value="dodaj produkty do koszyka">
                </div>
                <?php else: ?>
                <p style="text-align: right">
                    Zaloguj się, aby móc dodać produkt do koszyka
                </p>
                <?php endif; ?>
            </form>
        </div>
    </div>
</div>

<script>
    var fields = <?= json_encode($this->fields->toArray()) ?>;
    var variants = <?= json_encode(array_values($this->variants)) ?>;
    var allowBuy = <?= (int)($this->user && $this->allowBuy) ?>;

    function ViewModel(fields, variants, allowBuy)
    {
        this.fields = fields;
        this.allowBuy = allowBuy;
        this.filters = {};

        var toFilter = [];

        ko.utils.arrayForEach(fields, function(field) {
            var values = [];

            if (field.name.trim().length == 0) {
                return;
            }
            ko.utils.arrayForEach(variants, function(variant) {
                if (values.indexOf(variant.fields[field.index]) == -1) {
                    values.push(variant.fields[field.index]);
                }
            });

            // unique check
            if (values.length > 1) {
                toFilter.push({
                    field: field,
                    values: values,
                    value: ko.observable()
                });
            }
        });

        this.toFilter = toFilter;

        var wantBuy = {};
        ko.utils.arrayForEach(variants, function(v) {
            wantBuy[v.id] = ko.observable(false);
        });
        this.wantBuy = wantBuy;

        this.variants = ko.computed(function() {
            var items = variants;

            ko.utils.arrayForEach(toFilter, function(filter) {
                 if (filter.value()) {
                     items = items.filter(function(v) {
                        return filter.value() == v.fields[filter.field.index];
                     });
                 }
            });

            return items;
        }, this);
    }

    ViewModel.prototype = {
        getFilterText: function(index) {
            var self = this;

            return function(value) {
                var count = 0;

                ko.utils.arrayForEach(self.variants(), function(v) {
                    if (v.fields[index] == value) {
                        count++;
                    }
                });

                return value + ' (' + count + ')';
            }
        }
    }

    var vm = new ViewModel(fields, variants, allowBuy);
    ko.applyBindings(vm);
</script>

<?php if (!empty($this->random)): ?>
<h2>zobacz <strong>również</h2>
<?= $this->partial('common-products.phtml', array('products' => $this->random)) ?>
<?php endif; ?>
