<h2>
    wynik <strong>wyszukiwania</strong>
</h2>

<?php if (!empty($this->products)): ?>
<?= $this->partial('common-products.phtml', array('products' => $this->products)) ?>
<?php else: ?>
<p>
    Przykro nam, ale nie znaleźliśmy żadnego produktu dla wpisanego wyrażenia.
</p>
<?php endif; ?>

