<h2>podgląd <strong>zamówienia</strong></h2>

<p>
    <?php if ($this->returnTo == 'clients.history'): ?>
    <a href="<?= $this->url(array(), 'clients.history') ?>">&laquo; powrót do zamówień zrealizowanych</a>
    <?php elseif ($this->returnTo == 'clients.stats'): ?>
    <a href="<?= $this->url(array(), $this->returnTo) ?>">&laquo; powrót do statystyk</a>
    <?php else: ?>
    <a href="<?= $this->url(array(), 'clients.basket') ?>">&laquo; powrót do koszyka</a>
    <?php endif;?>
</p>

<?php if ($this->order->reported > 0): ?>
<p>
    Zamówienie nr: <?= $this->order->id ?>
</p>
<?php endif; ?>

<table class="listing">
    <thead>
        <tr>
            <th>index</th>
            <th>produkt</th>
            <th style="width: 30px">kolor</th>
            <th>cena/szt</th>
            <th>ilość</th>
            <th>wartość</th>
        </tr>
    </thead>
    <tbody>
    <?php 
        $status = $this->order->getStatus();
        $elements = $this->order->getElements();
        
        foreach ($elements as $item): 
            $variant = $item->getVariant();
            $product = $item->getProduct();
    ?>
        <tr>	
            <td><?= $variant->index ?></td>
            <td><a href="<?= $product->getUrl() ?>" target="_blank"><?= $product->getName() ?></a></td>
            <td>
            <?php 
                if ($product->hasColor()): 
                    $variant->parse();
                    $colorIndex = $product->getColorFieldIndex();
            ?>
                <img src="colors/<?= $variant->fields[$colorIndex] ?>.gif" style="border: 1px solid #dadada" />
            <?php endif; ?>
            </td>
            <td><?= $item->price ?> zł</td>
            <td><?= $item->quantity ?></td>
            <td><?= $item->price_sum ?> zł</td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<div style="font-weight: bold; text-align: right"><?= $elements->count() ?> produktów za łączną kwotę <?= $this->order->price_sum ?> zł netto.</div>
<div style="font-weight: bold; text-align: right">Podane cenyss nie zawierają podatku VAT.</div>

<?php if (!empty($this->order->comments)): ?>
<p>
    Dodatkowe uwagi:<br />
    <?= nl2br(stripslashes($this->order->comments)) ?>
</p>
<?php endif ?>

<div class="propertyGrid">
    <?php foreach ($this->properties as $label => $value): ?>
    <div class="item">
        <div class="label"><?= $label ?>:</div>
        <div class="value"><?= $value ?></div>
    </div>
    <?php endforeach; ?>
</div>

<div class="buttons">
    <a href="orders/site/pdf/id/<?= $this->order->id ?>" class="button">Zapisz jako PDF</a>
</div>