h2, h1 {
  font-size: 36px;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 40px;
  line-height: normal;
}

.header {
  font-size: 24px;
  font-weight: 300;
  color: #01b4cb;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;

  strong {
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
  }

  span {
    font-size: 20px;
    margin-left: 20px;
  }

  h1 {
    font-size: 20px;
    margin-left: 20px;
    display: inline;
  }
}

.os24 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;

  strong {
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
  }
}

.paginator {
  text-align: center;
  margin-bottom: 30px;
}
.paginator a.active {
  background-color: #a0d500;
}

.propertyGrid .item {
  height: 20px;
  line-height: 20px;
  margin-bottom: 4px;
}
.propertyGrid .item div {
  display: inline-block;
}
.propertyGrid .item .label {
  font-weight: bold;
  width: 200px;
  color: #333;
  font-size: 12px;
  text-align: left;
}

.tabs {
  height: 31px;
  border-bottom: 1px solid #1dc3d8;
  margin-bottom: 20px;
  padding-left: 3px;
}
.tabs a {
  display: block;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
  color: #333;
  background-color: #f1f1f1;
  line-height: 30px;
  padding: 0px 6px;
  cursor: pointer;
  float: left;
}
.tabs .active {
  background-color: #1dc3d8;
  color: #fff;
}

.buttons .button, .buttons input {
  background-color: #01b4cb;
  color: #fff;
  font-size: 12px;
  border: 0px none;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  margin: 2px;
  text-align: center;
  line-height: 28px;
  height: 28px;
}
.buttons .isBlock {
  display: block;
}
.buttonsWhite .button {
  background-color: #fff;
  color: #333;
}
.actions .button {
  font-size: 12px;
}

.actions .action {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #01b4cb;
  border-radius: 3px;
}
.actions .edit {
  background-image: url(../images/file_edit.png);
}
.actions .delete {
  background-image: url(../images/icon_delete.png);
}
.actions .disabled {
  opacity: 0.5;
}
.actions .add {
  background-image: url(../images/add.png);
}
.actions .show {
  background-image: url(../images/zoom.png);
  display: inline-block !important;
}
.actions .copy {
  background-image: url(../images/copy2.png);
}
.actions .load {
  background-image: url(../images/load.png);
}
.actions .accept {
  background-image: url(../images/accept.png);
}

.listing {
  width: 100%;
  border-collapse: collapse;
}
.listing td {
  vertical-align: middle;
}
.listing td, .listing th, .listing th a {
  text-align: left;
  padding: 6px 4px;
  font-size: 12px;
  line-height: normal;
}
.listing td, .listing th {
  border-bottom: 1px solid #ccc;
}
.listing td.actions {
  white-space: nowrap;
  width: 0px;
}
.listing th, .listing th a {
  font-weight: bold;
}

td.header {
  background-color: #01b4cb;
  color: #fff;
  font-weight: bold;
}
tr.summary td {
  background-color: #ccc;
}
tr.summaryTotal td {
  background-color: #ccc;
  font-weight: bold;
}

table.form .labelSpace {
  width: 200px;
}
table.form .fieldSpace{
  padding-bottom: 10px;
}
table.form .fieldSpace input[type=text], table.form .fieldSpace input[type=password], table.form .fieldSpace select {
  width: 400px;
  height: 26px;
  background-color: #f4f4f4;;
  border: 1px solid #1dc3d8;
  border-radius: 2px;
  padding-left: 10px;
  margin-right: 15px;
}
table.form .labelSpace label::after {
  content: ":";
}
table.form label.required::after {
  content: ":*";
}
table.form .fieldSpace label {
  line-height: 26px;
}

#form-fast-add .inputText {
  width: 150px;
  height: 26px;
  background-color: #f4f4f4;;
  border: 1px solid #1dc3d8;
  border-radius: 2px;
  padding-left: 10px;
  margin-right: 15px;
  cursor: auto;
  text-align: left;
  color: #333;
}

#_dialog {
  display: inline-block;
  border: 5px solid #01b4cb;
  border-radius: 6px;
  background-color: #fff;
  padding: 15px;
  text-align: center;
}
#_dialog_content {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
  width: 400px;
}