.product {
  @extend .col-xs-12;

  .name {
    margin-bottom: 20px;
  }
  .name, .name h1 {
    font-size: 14px;
    font-weight: 800;
  }

  .meta{
    @extend .row;
    padding-bottom: 20px;

    .left {
      @extend .col-md-4;
    }
    .right {
      @extend .col-md-8;

      .filter {
        @extend .col-sm-4, .col-xs-6;

        .filter-label {
          margin-bottom: 4px;
          font-weight: bold;
        }

        select {
          width: 100%;
          border: 1px solid #333;
          background-color: #aaa;
          line-height: 18px;
          border-radius: 0;
          margin-bottom: 10px;
        }
      }
    }

    a {
      display: block;
    }

    img {
      @extend .img-responsive;
      margin: 0 auto;
    }
  }
  .variants-list {
    @extend .col-md-12;

    table {
      @extend .table;

      & > tbody > tr > td {
        line-height: 18px;
        border-top: 1px solid #333;
      }
      & > thead > tr > th {
        border-bottom: 2px solid #333;
      }
      .price{
        border-top: 0 none !important;
        font-weight: bold;
      }
      .price, .index {
        background-color: #aaa;
      }
      .buy {
        &, input[type=number] {
          width: 80px;
        }
      }
    }
  }
}

.productLeft {
  float: left;
  width: 300px;
  margin-right: 40px;
}
.product .productTop {
  margin-bottom: 30px;
}
.product .productPhoto {
  height: 130px;
  margin-right: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.product .productDescription {
}
.product .productName {
  margin-bottom: 20px;
  font-size: 12px;
}
.product .productName h1 {
  font-size: 14px;
  font-weight: 800;
}
.productRight {
  width: 650px;
  float: left;
}