.productItem {
  @extend .col-md-3;
  @extend .col-xs-6;
  margin-bottom: 30px;

  .productItemInfo {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid $blue;

    a {
      display: block;
      height: 54px;

      strong {
        display: block;
      }
    }
  }

  .productItemImg {
    position: relative;
    a {
      display: block;
      text-align: center;

      img {
        @extend .img-responsive;
        margin: 0 auto;
      }
    }
  }

  .old {
    text-decoration: line-through;
  }

  .badge-offer {
    display: none;
  }

  &.productPromo {
    .productItemInfo {
      border-top: 2px solid $purple;
      height: 51px;
      overflow: hidden;
    }

    .price {
      font-weight: bold;
      color: $purple;
    }

    .offer-badge {
      width: 64px;
      height: 74px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url(../images/promocja.png);
    }
  }
}