.search-bar {
  background-color: #f0f0f0;
  height: 70px;
  padding: 19px 0;
  background: {
    position: top left;
    repeat: no-repeat;
    image: url('../images/szukaj.png');
  }

  input {
    width: 100%;
    height: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 50px;
    background: {
      position: top right;
      repeat: no-repeat;
      image: url('../images/lupa.png');
    }
  }

  .search-by-string,
  .search-by-index{
    @extend .col-md-4;
  }

  .search-by-string {
    @extend .col-xs-offset-5;
    @extend .col-xs-7;
    @extend .col-md-offset-4;
  }

  .search-by-index {
    @extend .visible-lg;
    @extend .visible-md;
  }

  .twitter-typeahead {
    width: 100%;
  }
}