.slider {
  background-color: #fff;
  max-height: 32%;
  overflow: hidden;

  .sliders-container {
    padding-top: 32%;
    overflow: hidden;
    position: relative;

    .slide {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      padding-top: 32%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}