<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            body {
                background: white;
            }
            #doc_area {
                font-family: Verdana;
                font-size: 12px;
                color: black;
                margin: 0px auto;
                line-height: 21px;
                width: 990px;
                background-color: white;
            }
            .docNum {
                font-size: 18px;
                font-weight: bold;
            }
            .topRight {
            }
            table td {
                vertical-align: top;
            }
            .infoHeader {
                font-weight: bold;
                margin-bottom: 20px;
            }
            .labelable span {
                display: inline-block;
            }
            .labelable .label {
                width: 150px;
            }
            .nip {
                margin-top: 40px;
            }
            .strong {
                font-weight: bold;
            }
            .products tr td.toRight {
                text-align: right;
                border-bottom: 0px;
            }
            
            .pdf #doc_area {
                font-size: 9px;
                line-height: 15px;
            }
            .pdf .infoHeader {
                margin-bottom: 10px;
            }
            .pdf .labelable .label {
                width: 100px;
            }
            .labelable {
                
            }
            .value {
                
            
            }
            
            .products {
                width: 100%;
                border-collapse: collapse;
                margin-top: 30px;
            }
            .products th {
                font-weight: bold;
                
            }
            .products th, .products td {
                text-align: center;
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                border: 1px solid black;
                line-height: normal;
                padding: 3px;
            }
            .products th {
                border-top: 1px solid black;
            }
            .products th:first-child, .products td:first-child {
                border-left: 1px solid black;
            }
            .products .noBorder td {
                border: 0px;
                padding-left: 0px;
                padding-right: 0px;
                text-align: left;
            }
        </style>
    </head>
    <body class="<?= (isset($this->isPDF) ? 'pdf' : 'web') ?>">
        <div id="doc_area">
            <?php if (!isset($this->isPDF)) : ?>
            <div>
                <a href="<?= $this->url(array('action' => 'pdf')) ?>" target="_blank">PDF</a>
            </div>
            <?php endif; ?>
            <table style="width: 100%; border-collapse: collapse">
                <tr>
                    <td style="width: 55%">
                        <div class="docNum">
                            FAKTURA <?= ($this->invoice->invoice_type == 'pro' ? 'proforma' : 'VAT') ?> nr <?= ($this->invoice->number) ?>/ON
                        </div>
                    </td>
                    <td style="width: 45%">
                        <div>Miejscowosc: Gliwice<br></div>
                        <div>Data wystawienia: <?= $this->doc->date_create ?><br></div>
                        <div>Data sprzedaży: <?= $this->doc->date_sell ?></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 20px"></td>
                </tr>
                <tr>
                    <td>
                        <div class="infoHeader">Sprzedawca:</div>
                        <div>es multimedia Anna Kłosowska</div>
                        <div>ul. Jasna 14A/47, 44-100 Gliwice</div>
                        <div>tel. 032 270 69 16 fax. 032 750 01 50</div>
                        <div class="labelable"><span class="label">Bank:</span><span class="value">mBank</span></div>
                        <div class="labelable"><span class="label">Numer konta:</span><span class="value">21 1140 2004 0000 3102 3356 8564</span></div>
                        <div class="nip labelable"><span class="label">NIP:</span><span class="value strong">631-232-40-23</span></div>
                        <div class="labelable"><span class="label">Regon:</span><span class="value">278153567</span></div>
                    </td>
                    <td>
                        <div class="infoHeader">Nabywca:</div>
                        <div><?= $this->doc->billing_company ?></div>
                        <div><?= $this->doc->billing_street ?> <?= $this->doc->billing_house ?><?= ($this->doc->billing_apartment ? '/' . $this->doc->billing_apartment : '') ?>, <?= $this->doc->billing_postal ?> <?= $this->doc->billing_city ?></div>
                        <div class="nip labelable"><span class="label">NIP:</span><span class="value strong"><?= $this->doc->billing_nip ?></span></div>
                    </td>
                </tr>
            </table>
            
            <table class="products">
                <thead>
                    <tr>
                        <th>Lp</th>
                        <th>Nazwa</th>
                        <th>Jm</th>
                        <th>Ilość</th>
                        <th>Cena netto</th>
                        <th>Wartość netto</th>
                        <th>VAT%</th>
                        <th>VAT</th>
                        <th>Wartość brutto</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($this->doc->getProducts() as $lp => $prod): ?>
                    <tr>
                        <td><?= ($lp + 1) ?></td>
                        <td style="text-align: left"><?= $prod->name ?></td>
                        <td>szt.</td>
                        <td><?= $prod->quantity ?></td>
                        <td><?= $prod->price ?></td>
                        <td><?= $prod->netto_total ?></td>
                        <td><?= $prod->taxRate ?></td>
                        <td><?= $prod->vat_total ?></td>
                        <td><?= $prod->brutto_total ?></td>
                    </tr>
                <?php endforeach; ?>
                    <tr class="strong">
                        <td colspan="5" class="strong toRight">Razem:</td>
                        <td><?= $this->doc->netto ?></td>
                        <td>23</td>
                        <td><?= $this->doc->tax ?></td>
                        <td><?= $this->doc->brutto ?></td>
                    </tr>
                    <tr class="strong noBorder">
                        <td colspan="2"></td>
                        <td colspan="3" style="padding-top: 30px">Razem do zapłaty:</td>
                        <td colspan="4" style="padding-top: 30px" class="toRight"><?= $this->doc->brutto ?> zł</td>
                    </tr>
                    <tr class="strong noBorder">
                        <td colspan="2"></td>
                        <td colspan="3" style="padding-top: 20px">Słownie:</td>
                        <td colspan="4" style="padding-top: 20px" class="toRight"><?= AmountInWords::getZl($this->doc->brutto) ?> złotych <?= round(AmountInWords::getGr($this->doc->brutto)) ?>/100</td>
                    </tr>
                    <tr class="noBorder">
                        <td colspan="2"></td>
                        <td colspan="3" style="padding-top: 20px" class="strong">Forma płatności:</td>
                        <td colspan="4" style="padding-top: 20px">przelew</td>
                    </tr>
                    <tr class="noBorder" border="">
                        <td colspan="2"></td>
                        <td colspan="3" border="" class="strong">Termin płatności:</td>
                        <td colspan="4"><?= $this->doc->date_payline ?></td>
                    </tr>
                </tbody>
            </table>
            
            <?php if (!isset($this->isPDF)) : ?>
            <p class="strong">
                Dokonaj płatności za fakturę
            </p>
            <?php if (!$this->payment): ?>
                <a href="<?= $this->url(array('action' => 'do-payment')) ?>">&laquo; Kliknij, aby zapłacić za fakturę &raquo;</a>
            <?php elseif ($this->payment->status == Model_Payment::STATUS_CANCEL): ?>
                <p>
                    Twoja poprzednia płatność została anulowana lub nie przeszła poprawnie autoryzacji.
                </p>
                <p>
                    <a href="<?= $this->url(array('action' => 'do-payment')) ?>">&laquo; Kliknij, aby ponownie zapłacić za fakturę &raquo;</a>
                </p>
            <?php elseif ($this->payment->status == Model_Payment::STATUS_COMPLETE): ?>
                <p>
                    Faktura została opłacona, dziękujemy!
                </p>
            <?php else: ?>
                <p>
                    Twoja płatność jest obecnie autoryzowana. O wyniku autoryzacji zostaniesz poinformowany drogą mailową.
                </p>
            <?php endif; ?>
            <?php endif; ?>
        </div>
    </body>
</html>
