<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            body {
                background: white;
            }
            #doc_area {
                font-family: Verdana;
                font-size: 12px;
                color: black;
                margin: 0px auto;
                line-height: 21px;
                width: 990px;
                background-color: white;
            }
            .docNum {
                font-size: 18px;
                font-weight: bold;
            }
            .topRight {
            }
            table td {
                vertical-align: top;
            }
            .infoHeader {
                font-weight: bold;
            }
            .labelable span {
                display: inline-block;
            }
            .labelable .label {
                width: 150px;
            }
            .nip {
                margin-top: 40px;
            }
            .strong {
                font-weight: bold;
            }
            .products tr td.toRight {
                text-align: right;
                border-bottom: 0px;
            }
            
            .pdf #doc_area {
                font-size: 9px;
                line-height: 15px;
            }
            .pdf .infoHeader {
                margin-bottom: 10px;
            }
            .pdf .labelable .label {
                width: 100px;
            }
            .labelable {
                
            }
            .value {
                
            
            }
            
            .products {
                width: 100%;
                border-collapse: collapse;
                margin-top: 30px;
            }
            .products th {
                font-weight: bold;
                
            }
            .products th, .products td {
                text-align: center;
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                border: 1px solid black;
                line-height: normal;
                padding: 3px;
            }
            .products th {
                border-top: 1px solid black;
            }
            .products th:first-child, .products td:first-child {
                border-left: 1px solid black;
            }
            .products .noBorder td {
                border: 0px;
                padding-left: 0px;
                padding-right: 0px;
                text-align: left;
            }
        </style>
    </head>
    <body class="<?= (isset($this->isPDF) ? 'pdf' : 'web') ?>">
        <div id="doc_area">
            <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px">
                <tr>
                    <td style="width: 55%">
                        <div class="docNum">
                            ZAMÓWIENIE
                        </div>
                    </td>
                    <td style="width: 45%">
                        <div>z dnia <?= $this->doc->date_create ?></div>
                    </td>
                </tr>
            </table>
            
            <div class="infoHeader">Nabywca:</div>
            <div><?= $this->doc->billing_company ?></div>
            <div><?= $this->doc->billing_street ?> <?= $this->doc->billing_house ?><?= ($this->doc->billing_apartment ? '/' . $this->doc->billing_apartment : '') ?>, <?= $this->doc->billing_postal ?> <?= $this->doc->billing_city ?></div>
            <div>NIP: <?= $this->doc->billing_nip ?></div>
            <div>E-mail: <?= $this->doc->mail ?></div>
            
            <table class="products">
                <thead>
                    <tr>
                        <th>Lp</th>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Wartość netto</th>
                        <th>Wartość brutto</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($this->doc->getProducts() as $lp => $prod): ?>
                    <tr>
                        <td><?= ($lp + 1) ?></td>
                        <td style="text-align: left">
                            <div><?= $prod->name ?></div>
                            <?= $this->partial('payments-templates/' . $prod->template . '.phtml', array('product' => $prod)) ?>
                        </td>
                        <td><?= $prod->quantity ?></td>
                        <td><?= $prod->netto_total ?></td>
                        <td><?= $prod->brutto_total ?></td>
                    </tr>
                <?php endforeach; ?>
                    <tr class="strong">
                        <td colspan="3" class="strong toRight">Razem:</td>
                        <td><?= $this->doc->netto ?></td>
                        <td><?= $this->doc->brutto ?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
