<div class="row">
    <div class="search-bar">
        <div class="search-by-string">
            <form method="get" action="<?= $this->url([], 'products.search') ?>">
                <input type="text" name="string" placeholder="wpisz nazwę produktu">
            </form>
        </div>
        <div class="search-by-index">
            <form method="get" action="<?= $this->url([], 'products.search-index') ?>">
                <input type="text" name="string" placeholder="wpisz index">
            </form>
        </div>
    </div>
</div>