<div class="row">
    <div class="slider">
        <div class="sliders-container">
            <?php foreach ($this->sliders as $slider): ?>
            <div class="slide" style="background-image: url('sliders/<?= $slider->image ?>')"></div>
            <?php endforeach; ?>
        </div>
    </div>
</div>