<p>
    Raport z dołożenia limitów: <?= $this->date ?>
</p>

<?php
    $types = [
        '1' => 'miesięczny',
        '2' => 'kwartalny',
        '3' => 'półroczny'
    ];
?>

<table class="listing">
    <thead>
    <tr>
        <th>konto</th>
        <th>budżet</th>
        <th>limit</th>
        <th>typ limitu</th>
        <th>przechodzący</th>
        <th>nowy budżet</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->data as $item): ?>
    <tr>
        <td><?= $item['login'] ?></td>
        <td><?= $item['budget'] ?></td>
        <td><?= $item['limit'] ?></td>
        <td><?= $types[$item['limit_type']] ?></td>
        <td><?= $item['limit_permanent'] ? 'tak' : 'nie' ?></td>
        <td><?= $item['new_budget'] ?></td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>